{% csrf_token %}
<div class="row">
    <div class="col-lg-4">
        <label for="status-filter">Filter based on Status: </label>
        <select onchange="filterBuilds()" class="form-control ml-2 filter" id="status-filter" name="status-filter">
            <option value="">All</option>
            <option value="build successful" {% if status == "build successful" %}selected{% endif %}>Successful Builds</option>
            <option value="failed" {% if status == "failed" %}selected{% endif %}>All Failed Builds</option>
            <option value="failed install-port" {% if status == "failed install-port" %}selected{% endif %}>failed install-port</option>
            <option value="failed install-dependencies" {% if status == "failed install-dependencies" %}selected{% endif %}>failed install-dependencies</option>
        </select>
    </div>
    <div class="col-lg-4">
        <label for="builder-filter">Filter based on builder: </label>
        <select onchange="filterBuilds()" class="form-control ml-2 filter" id="builder-filter" name="builder-filter">
            <option value="">All</option>
            {% for builder_option in builders %}
                <option value="{{ builder_option }}" {%  if builder == builder_option %}selected{% endif %}>{{ builder_option }}</option>
            {% endfor %}
        </select>
    </div>
</div>
<br><br>
{% if builds|length > 0 %}
<h4 class="text-secondary">Showing {% if status == "" %} <ins>All Builds</ins> {% else %}builds with status: <ins>{{ status }}</ins>{% endif %} on <ins>{% if builder == "" %}All Builders {% else %}{{ builder }}{% endif %}</ins></h4>

{% if builds.has_other_pages %}
            Page {{ builds.number }} of {{ builds.paginator.num_pages }} | Showing builds {{ builds.start_index }} to
            {{ builds.end_index }}<br><br>
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    {% if builds.has_previous %}
                        <li class="page-item"><button class="page-link" onclick="changePage({{ builds.previous_page_number }})">&laquo;</button></li>
                    {% else %}
                        <li class="disabled page-item"><span class="page-link">&laquo;</span></li>
                    {% endif %}

                    {% if builds.number|add:'-4' > 1 %}
                        <li class="page-item"><button class="page-link" onclick=changePage({{ builds.number|add:'-5' }})>&hellip;</button>
                        </li>
                    {% endif %}

                    {% for i in builds.paginator.page_range %}
                        {% if builds.number == i %}
                            <li class="active page-item"><span class="page-link">{{ i }} <span
                                    class="sr-only">(current)</span></span></li>
                        {% elif i > builds.number|add:'-5' and i < builds.number|add:'5' %}
                            <li class="page-item"><button class="page-link" onclick="changePage({{ i }})">{{ i }}</button></li>
                        {% endif %}
                    {% endfor %}

                    {% if builds.paginator.num_pages > builds.number|add:'4' %}
                        <li class="page-item"><button class="page-link" onclick="changePage({{ builds.number|add:'5' }})">&hellip;</button>
                        </li>
                    {% endif %}

                    {% if builds.has_next %}
                        <li class="page-item"><button class="page-link" onclick="changePage({{ builds.next_page_number }})">&raquo;</button>
                        </li>
                    {% else %}
                        <li class="disabled page-item"><span class="page-link">&raquo;</span></li>
                    {% endif %}
                </ul>
            </nav>
{% endif %}
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Builder</th>
        <th scope="col">Build Number</th>
        <th scope="col">Start Time</th>
        <th scope="col">Elapsed Time</th>
        <th scope="col">Watcher</th>
        <th scope="col">Build Status</th>
    </tr>
    </thead>
    {% for build in builds %}
        <tr>
            <td>{{ build.builder_name.name }}</td>
            <td><a target="_blank" href="https://build.macports.org/builders/ports-{{ build.builder_name.name }}-builder/builds/{{ build.build_id }}">{{ build.build_id }}</a></td>
            <td>{{ build.time_start|date:"Y-m-d" }}  {{ build.time_start|time:"G:i:s" }} </td>
            <td>{{ build.time_elapsed|time:"H:i:s" }}</td>
            <td><a target="_blank" href="https://build.macports.org/builders/ports-{{ build.builder_name.name }}-watcher/builds/{{ build.watcher_id }}">{{ build.watcher_id }}</a></td>
            <td class="{% if build.status == 'build successful' %}text-success {% else %} text-danger {% endif %}">{{ build.status }}</td>
        </tr>
    {% endfor %}
</table>
{% else %}
<div class="text-center container" style="max-width: 700px;">
    <h5>No build history is available for that selection right now.</h5>
    <p>This does not mean that there is anything wrong with builds. It is just that the app does not have
        any records in its database. It may be caused by a failure to fetch the history in time.</p>
</div>
{% endif %}