<br>
{% if total_count.port__count > 0 %}
    <h4 class="border-bottom">Current Stats: <span style="font-size:12px"><button type="button" class="bg-light border-0 p-1" data-toggle="modal" data-target="#currentStatsHelp">Learn More</button></span> </h4>
    <table class="table table-striped border">
                <tr>
                    <th scope="row">Total Installations</th>
                    <td>{{ total_count.port__count }}</td>
                </tr>
                <tr>
                    <th scope="row">Requested Installations</th>
                    <td>{{ requested_count.port__count }}</td>
                </tr>
                <tr>
                    <th scope="row">Most Installed Version</th>
                    <td><strong>{{ version_distribution.first.version }}</strong> : {{ version_distribution.first.num }} user(s)</td>
                </tr>
            </table>
    <div class="row">
        <div class="col-lg-5">
            <div class="chart" id="os-chart"></div>
        </div>
        <div class="col-lg-7">
            <div class="chart" id="version-chart"></div>
        </div>
    </div>

    <br><br>
    <h4 class="border-bottom">Port installations by month</h4>
    <div class="chart" id="month-chart"></div>
    <br>
{% else %}
<div class="text-center container" style="max-width: 700px;">
    <h5>No stats have been submitted for this port yet</h5>
    <p>You may visit <a href="{% url 'stats_home' %}">statistics</a> page to have an overall look at the submitted
    statistics.</p>
</div>
{% endif %}

<!-- Modal -->
<div id="currentStatsHelp" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">What do "Current Stats" Display?</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <p>Current stats are calculated for those users who have submitted stats in the last 30 days only. For each user
        who has made a submission in last 30 days, the latest of the submissions is used to decide if the user has the
        port installed or not.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>




    <script type="text/javascript">

      // Load the Visualization API and the corechart package.
      google.charts.load('current', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.charts.setOnLoadCallback(drawChart);

      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      function drawChart() {

        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Version');
        data.addColumn('number', 'Number of Users');
        data.addRows([
            {% for version in version_distribution %}
          ['{{ version.version }}', {{ version.num }}],
            {% endfor %}
        ]);

        // Set chart options
        var options = {'title':'Version Distribution for current users'};

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.ColumnChart(document.getElementById('version-chart'));
        chart.draw(data, options);
      }
    </script>
<script type="text/javascript">

      // Load the Visualization API and the corechart package.
      google.charts.load('current', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.charts.setOnLoadCallback(drawChart);

      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      function drawChart() {

        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Month');
        data.addColumn('number', 'Number of Users');
        data.addRows([
            {% for i in installation_by_month %}
          ['{{ i.month|date:"M Y" }}', {{ i.num }}],
            {% endfor %}
        ]);

        // Set chart options
        var options = {'title':'Installations by month'};

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.LineChart(document.getElementById('month-chart'));
        chart.draw(data, options);
      }
    </script>

<script type="text/javascript">

      // Load the Visualization API and the corechart package.
      google.charts.load('current', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.charts.setOnLoadCallback(drawChart);

      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      function drawChart() {

        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'OS');
        data.addColumn('number', 'Number of Users');
        data.addRows([
            {% for i in os_ditribution %}
          ['{{ i.submission__os_version }}', {{ i.num }}],
            {% endfor %}
        ]);

        // Set chart options
        var options = {'title':'OS Distribution for current users'};

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.ColumnChart(document.getElementById('os-chart'));
        chart.draw(data, options);
      }
    </script>
