{% if total_count.port__count > 0 %}
<table class="table table-striped">
    <tr>
        <th scope="row">Total Installations in last 30 days</th>
        <td>{{ total_count.port__count }}</td>
    </tr>
    <tr>
        <th scope="row">Requested Installations in last 30 days</th>
        <td>{{ requested_count.port__count }}</td>
    </tr>
</table>
    <br>
    <h6>Installations by Version (last 30 days)</h6>
    <div id="version-chart"></div>
{% else %}
<div class="text-center container" style="max-width: 700px;">
    <h5>No stats have been submitted for this port yet</h5>
    <p>You may visit <a href="{% url 'stats_home' %}">statistics</a> page to have an overall look at the submitted
    statistics.</p>
</div>
{% endif %}
    <script type="text/javascript">

      // Load the Visualization API and the corechart package.
      google.charts.load('current', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.charts.setOnLoadCallback(drawChart);

      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      function drawChart() {

        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Version');
        data.addColumn('number', 'Number of Users');
        data.addRows([
            {% for version in version_distribution %}
          ['{{ version.version }}', {{ version.num }}],
            {% endfor %}
        ]);

        // Set chart options
        var options = {'title':'Version Distribution for Last 30 days',
                       'width':650,
                       'height':400};

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.ColumnChart(document.getElementById('version-chart'));
        chart.draw(data, options);
      }
    </script>
