<h3>{{ port.portdir }} | {{ port.name }}</h3>
    <p class="text-secondary">{{ port.description }}</p>
    <br>
    <div class="row">
        <div class="col-lg-8">
            <table class="table table-striped border border-top border-muted">
                <tr>
                    <th scope="row">Homepage</th>
                    <td><a href="{{ port.homepage }}" target="_blank">{{ port.homepage }}</a></td>
                </tr>
                <tr>
                    <th scope="row">Version:</th>
                    <td>{{ port.version }}</td>
                </tr>
                <tr>
                    <th scope="row">Maintained By:</th>
                    <td>{% if maintainers.all|length > 0 %}
                        {% for maintainer in maintainers %}
                                {% if maintainer.github %}
                                    <a href="/maintainer/github/{{ maintainer.github }}">{{ maintainer.github }}</a>,
                                {% else %}
                                    <a href="/maintainer/email/{{ maintainer.name }}__{{ maintainer.github }}">{{ maintainer.github }}</a>,
                                {% endif %}
                        {% endfor %}
                    {% else %}
                        No Maintainers Found
                    {% endif %}

                    </td>
                </tr>
                <tr>
                    <th scope="row">ClosedMaintainer:</th>
                    <td>{{ port.closedmaintainer }}</td>
                </tr>
                <tr>
                    <th scope="row">Variants:</th>
                    <td>
                        {% if variants.count > 0 %}
                            {% for variant in variants %}
                                <a href="{% url 'variant_list' variant.variant %}">{{ variant.variant }}</a>,
                            {% endfor %}
                        {% else %}
                            No Information Found for Variants
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th scope="row">License:</th>
                    <td>{{ port.license }}</td>
                </tr>
                <tr>
                    <th scope="row">Platforms:</th>
                    <td>{{ port.platforms }}</td>
                </tr>
                <tr>
                    <th scope="row">Categories:</th>
                    <td>{% for cat in port.categories.all %}
                        <a href="{% url 'category_list' cat.name %}">{{ cat.name }}</a>,
                    {% endfor %}
                    </td>
                </tr>
                <tr>
                    <th scope="row">Dependencies:</th>
                    <td>{% for dependency in dependencies %}
                            {% for port in dependency.dependencies.all %}
                                <a href="{% url 'port_detail' port.name %}">{{ port.name }}</a>,
                            {% endfor %}
                        {% endfor %}

                        </td>
                </tr>
            </table>
        </div>
        <div class="col-lg-4">
            <a class="btn-warning btn" href="https://github.com/macports/macports-ports/tree/master/{{ port.portdir }}/Portfile"
               target="_blank">View on Github</a><br><br>
            <div class="rounded bg-light shadow-lg" style="padding: 8px">
                <h5 class="border-bottom">Quick Stats for {{ port.name }}</h5>
                <ul class="list-group">
                    <li class="list-group-item">Rank (last 4 weeks): <strong class="float-right">542</strong></li>
                    <li class="list-group-item">Total Installations (last 4 weeks): <strong class="float-right">37</strong></li>
                    <li class="list-group-item"><a href="javascript:void(0);" onclick="tabClick(this, 'stats')">View Detailed
                        Statistics for {{ port.name }}</a></li>
                </ul>
            </div>
            <br>
            <div class="rounded bg-light shadow-lg" style="padding: 8px">
                <h5 class="border-bottom">Port Health</h5>
                <div class="p-2">
                    <h6>{% for builder, latest_build in latest_builds.items %}
                        {% if latest_build %}
                                <span class="badge {% if latest_build.status == "build successful" %}
                                                        badge-success
                                                    {% else %}
                                                        badge-danger
                                                    {% endif %}">{{ builder }}</span>

                        {% else %}
                            <span class="badge badge-secondary">{{ builder }}</span>

                        {% endif %}
                    {% endfor %}</h6>
                </div>
            </div>
        </div>
    </div><br>
    <div class="card">
        <div class="card-body">
            {{ port.long_description }}
        </div>
    </div><br>
    <div id="trac_tickets"></div>
