{% extends 'ports/layout.html' %}
{% load sort_version %}
{% load permutations %}

{% block head_scripts %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {
            {% regroup os_version_build_arch_and_stdlib by os_version as os_chart_os_version_parent %}

            var data = google.visualization.arrayToDataTable([
                ['OS Version', {% for i in os_version_build_arch_and_stdlib|unique_pairs:"build_arch cxx_stdlib" %}'{{ i.0 }}/{{ i.1 }}', {% endfor %} {role: 'annotation'}],
                {% for os in os_chart_os_version_parent %}
                ['OS: {{ os.grouper }}', {% for j in os_version_build_arch_and_stdlib|unique_pairs:"build_arch cxx_stdlib" %}{% for i in os.list %}{% if j.0 == i.build_arch and j.1 == i.cxx_stdlib %}{{ i.num }}{% endif %}{% endfor %}{% if not forloop.last %}, {% endif %}{% endfor %}, '' ],
                {% endfor %}
            ]);

        var options = {
            'title':'OS Version and Build Architecture/STDLIB',
            isStacked: true,
            chartArea: {width: "65%"}
        };

        var chart = new google.visualization.ColumnChart(document.getElementById('os-chart'));
        chart.draw(data, options);
      }
    </script>
    <script type="text/javascript">
        google.charts.load('current', {'packages': ['corechart']});

        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {

            var data = new google.visualization.DataTable();
            data.addColumn('string', 'OSX Version');
            data.addColumn('number', 'Number of Users');
            data.addRows([
                {% for i in macports_version %}
                    ['{{ i.macports_version }}', {{ i.num }}],
                {% endfor %}
            ]);

            var options = {
                'title': 'MacPorts Version',
                chartArea: {width: "65%"}
            };

            var chart = new google.visualization.ColumnChart(document.getElementById('macports-chart'));
            chart.draw(data, options);
        }
    </script>
    <script type="text/javascript">
        google.charts.load('current', {'packages': ['corechart']});

        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            {% regroup os_version_and_xcode_version|sortversion:"xcode_version" by xcode_version as xcode_parent %}
            {% regroup os_version_and_xcode_version by os_version as os_parent %}

        var data = google.visualization.arrayToDataTable([
        ['OS Version', {% for version in xcode_parent %}'{{ version.grouper }}', {% endfor %} { role: 'annotation' } ],
            {% for os in os_parent %}
            ['OS: {{ os.grouper }}', {% for version in xcode_parent %}{% for i in os.list %}{% if i.xcode_version == version.grouper %}{{ i.num }}{% endif %}{% endfor %}, {% endfor %} ''],
            {% endfor %}
        ]);

            var options = {
                'title': 'Xcode Version',
                isStacked: true,
                chartArea: {width: "65%"}
            };

            var chart = new google.visualization.ColumnChart(document.getElementById('xcode-chart'));
            chart.draw(data, options);
        }
    </script>
    <script type="text/javascript">
        google.charts.load('current', {'packages': ['corechart']});

        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {

            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Month');
            data.addColumn('number', 'Users');
            data.addRows([
                {% for user in users_by_month %}
                    ['{{ user.month|date:"M Y" }}', {{ user.num }}],
                {% endfor %}
            ]);

            var options = {
                'title': 'Users vs Month',
                vAxis: {
                    viewWindow: {
                        min:0
                    }
                }
            };

            var chart = new google.visualization.LineChart(document.getElementById('user-chart'));
            chart.draw(data, options);
        }
    </script>

    <!-- CLT VERSIONS -->
    <script type="text/javascript">
        google.charts.load('current', {'packages': ['corechart']});

        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            {% regroup os_version_and_clt_version|sortversion:"clt_version" by clt_version as clt_parent %}
            {% regroup os_version_and_clt_version by os_version as os_clt_parent %}

            var data = google.visualization.arrayToDataTable([
                ['OS Version', {% for version in clt_parent %}'{% if version.grouper == '' %}unknown{% else %}{{ version.grouper }}{% endif %}', {% endfor %} { role: 'annotation' } ],
                {% for os in os_clt_parent %}
                    ['OS: {{ os.grouper }}', {% for version in clt_parent %}{% for i in os.list %}{% if i.clt_version == version.grouper %}{{ i.num }}{% endif %}{% endfor %}, {% endfor %} ''],
                {% endfor %}
        ]);

        var options = {
            'title': 'Command Line Tools Version',
            isStacked: true,
            chartArea: {width: "65%"}
            };

        var chart = new google.visualization.ColumnChart(document.getElementById('clt-chart'));
        chart.draw(data, options);
        }
    </script>

{% endblock %}

{% block title %}Statistics |{% endblock %}

{% block content %}
    <br>
    <ul class="nav nav-tabs" id="tabs" role="tablist">
        <li class="nav-item">
            <a href="#" class="nav-link active">System Stats</a>
        </li>
        <li class="nav-item">
            <a href="{% url 'stats_port_installations' %}" class="nav-link">Port Installations</a>
        </li>
    </ul>
    <br><br>
    <div class="row">
        <div class="col-lg-7 p-0">
            <div class="chart" id="user-chart"></div>
        </div>
        <div class="col-lg-5">
            <p class="text-center" style="font-size: 15px"><i>Opt-in for submitting stats by installing the port <span class="bg-light">mpstats</span>.</i></p>
            <br>
            <table class="table table-striped">
                <tbody>
                <tr>
                    <th scope="row">Total submissions:</th>
                    <td class="text-right">{{ total_submissions }}</td>
                </tr>
                <tr>
                    <th scope="row">Total unique users:</th>
                    <td class="text-right">{{ unique_users }}</td>
                </tr>
                <tr>
                    <th scope="row">Unique users last week:</th>
                    <td class="text-right">{{ last_week }}</td>
                </tr>
                <tr>
                    <th scope="row">Unique users this week:</th>
                    <td class="text-right">{{ current_week }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <br>
    <hr>
    <br>
    {% csrf_token %}
    <form id="duration-selector" class="bg-light p-2 form form-inline justify-content-center" method="get" action="{% url 'stats' %}#duration-selector">
        <lable for="days">Displaying statistics for <strong>{{ users_count_in_duration }} users</strong> who made submissions during:</lable>
        <select onchange="this.form.submit()" id="days" name="days" class="form-control mx-2">
            {% for i in allowed_days|slice:"1:" %}
                <option value="{{ i }}" {% if days == i %}selected{% endif %}>{{ i }} days</option>
            {% endfor %}
        </select>
        <lable for="days-ago">until</lable>
        <select onchange="this.form.submit()" id="days_ago" name="days_ago" class="form-control ml-2">
            <option value="0" {% if days_ago == 0 %}selected{% endif %}>today</option>
            {% for i in allowed_days|slice:"1:" %}
                <option value="{{ i }}" {% if days_ago == i %}selected{% endif %}>{{ i }} days ago</option>
            {% endfor %}
        </select>
    </form>
    <br>

    <h6 class="text-center p-2">
        <span class="text-muted">Duration selected:</span> <u>{{ start_date|date:"Y-m-d" }}</u> <span class="text-muted">to</span> <u>{{ end_date|date:"Y-m-d" }}</u>
    </h6>

    <br>
    <div class="chart" id="os-chart"></div><br>
    <div class="chart" id="xcode-chart"></div><br><br>
    <div class="chart" id="clt-chart"></div><br><br>
    <div class="chart" id="macports-chart"></div><br><br>
    <br>
{% endblock %}
