<ul class="nav nav-tabs mt-4" id="tabs">
    <li class="nav-item">
        <a href="{% url 'port_summary' port_name %}" id="summary" class="nav-link text-dark {% if active == "summary" %}active font-weight-bold{% endif %}">Details</a>
    </li>
    <li class="nav-item">
        <a href="{% url 'port_builds' port_name %}" id="builds" class="nav-link text-dark {% if active == "builds" %}active font-weight-bold{% endif %}">Builds</a>
    </li>
    <li class="nav-item">
        <a href="{% url 'port_stats' port_name %}" id="stats" class="nav-link text-dark {% if active == "stats" %}active font-weight-bold{% endif %}">Installation Stats</a>
    </li>
    <li class="nav-item">
        <a href="#" data-toggle="modal" data-target="#tickets-modal" class="nav-link text-dark">Trac Tickets <span id="tickets-count" class="badge badge-light border border-secondary"></span></a>
    </li>
    <li class="nav-item ml-auto">
        <a target="_blank" href="https://trac.macports.org/newticket?port={{ port.name }}" class="nav-link text-dark f14 py-1 border-0">Report an Issue with this port</a>
    </li>
    <li class="nav-item">
        <a href="{% url 'port-detail' port.name %}" class="nav-link text-dark f14 py-1 border-0">API</a>
    </li>
    {% if request.path == "/port/"|add:port.name|add:"/details/" %}
    <li class="nav-item">
        <a href="{% url 'default_port_page_toggle' port.name %}" class="nav-link text-muted border-0 f14 py-1">
            {% if is_default %}Never skip to Details page
            {% else %}Always skip to Details page
            {% endif %}
        </a>
    </li>
    {% endif %}
    {% if request.path == "/port/"|add:port.name|add:"/stats/" %}
        <li class="nav-item">
        <a class="nav-link text-dark border-0 f14 py-1" href="{% url 'stats_faq' %}">Stats FAQ</a>
        </li>
    {% endif %}
</ul>
