<ul class="nav nav-tabs mt-4" id="tabs">
    <li class="nav-item">
        <a href="{% url 'port_summary' port_name %}" id="summary" class="nav-link text-dark {% if active == "summary" %}active font-weight-bold{% endif %}">Details</a>
    </li>
    <li class="nav-item">
        <a href="{% url 'port_builds' port_name %}" id="builds" class="nav-link text-dark {% if active == "builds" %}active font-weight-bold{% endif %}">Builds</a>
    </li>
    <li class="nav-item">
        <a href="{% url 'port_stats' port_name %}" id="stats" class="nav-link text-dark {% if active == "stats" %}active font-weight-bold{% endif %}">Installation Stats</a>
    </li>
    <li class="nav-item">
        <a href="#" data-toggle="modal" data-target="#tickets-modal" class="nav-link text-dark">Trac Tickets <span id="tickets-count" class="badge badge-light border border-secondary"></span></a>
    </li>
    {% if "details" in request.path %}
    <li class="nav-item ml-auto">
        <a href="{% url 'default_port_page_toggle' port.name %}" class="nav-link text-muted">
            {% if is_default %}Remove default
            {% else %}Make default page
            {% endif %}
        </a>
    </li>
    {% endif %}
</ul>
