{% extends "layout.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block title %}Confirm your email |{% endblock %}

{% block head_scripts %}
    {% include 'account/style.html' %}
{% endblock %}

{% block content %}
      <div class="container">
    <div class="row">
      <div class="col-sm-10 col-md-9 col-lg-7 mx-auto">
        <div class="card card-signin my-2">
            <div class="card-body">
                {% if confirmation %}
                    {% user_display confirmation.email_address.user as user_display %}

                    <p>{% blocktrans with confirmation.email_address.email as email %}Please confirm that
                        <a href="mailto:{{ email }}">{{ email }}</a> is an e-mail address for user {{ user_display }}
                        .{% endblocktrans %}</p>

                    <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
                        {% csrf_token %}
                        <button class="btn fw btn-primary btn-lg" type="submit">{% trans 'Confirm' %}</button>
                    </form>

                {% else %}

                    {% url 'account_email' as email_url %}

                    <p>{% blocktrans %}This e-mail confirmation link expired or is invalid. Please
                        <a href="{{ email_url }}">issue a new e-mail confirmation request</a>.{% endblocktrans %}</p>

                {% endif %}
            </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
