{% extends "layout.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block title %}Login to your account |{% endblock %}

{% block head_scripts %}
    {% include 'account/style.html' %}
{% endblock %}

{% block content %}
      <div class="container">
    <div class="row">
      <div class="col-sm-10 col-md-10 col-lg-7 mx-auto">
        <div class="card card-signin my-2">
          <div class="card-body">
            <h5 class="card-title text-center">Sign In</h5>
            <form class="form-signin login" method="POST" action="{% url 'account_login' %}">
            {% csrf_token %}
                {% get_providers as socialaccount_providers %}
              {% if socialaccount_providers %}
                {% include "account/social_list.html" with process="login" %}
              {% endif %}
                <hr>
              {{form.as_p}}

                {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                {% endif %}
              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign in</button>
              <a href="{{ signup_url }}" class="btn btn-lg btn-light text-uppercase fw">Don't have an account? Sign Up</a>
                <a href="{% url 'account_reset_password' %}" class="btn btn-link">Reset Password</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
