{% extends 'account/account_layout.html' %}

{% load i18n %}
{% load humanize %}

{% block account_head_scripts %}{% include 'account/style.html' %}{% endblock %}
{% block account_title %}Maintained by me |{% endblock %}

{% block account_content %}
    <h3>Ports maintained by me:</h3>
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link text-dark {% if using == 'GitHub' %}active font-weight-bold{% endif %}" href="{% url 'my_ports_github' %}">Using GitHub ({{ ports_by_github_count|intcomma }})</a>
            <a class="nav-item nav-link text-dark {% if using == 'email' %}active font-weight-bold{% endif %}" href="{% url 'my_ports_email' %}">Using Email(s) ({{ ports_by_email_count|intcomma }})</a>
        </div>
    </nav>
            {% if connections|length > 0 %}
            <p class="mt-3">We tried looking for ports connected to these {{ using }} account(s):
                <strong>{% for i in connections %}{{ i }}{% if not forloop.last %}, {% endif %}</strong>
            {% endfor %}
            </p>
                <hr>
                {% include 'includes/user_filter_form.html' with form=form  %}
                <hr>
                {% include 'includes/user_ports_table.html' with ports=ports %}
                    {% if ports_github == 0 and ports_email == 0 %}
                    <p class="lead text-danger">No ports found.
                    {% endif %}
            {% else %}
            <p class="text-danger mt-2">You have not connected any {{using}} account. Make sure that GitHub connection is active and emails are verified.</p>
            {% endif %}
{% endblock %}
