{% extends 'account/account_layout.html' %}

{% load i18n %}

{% block account_head_scripts %}{% include 'account/style.html' %}{% endblock %}
{% block account_title %}Maintained by me |{% endblock %}

{% block account_content %}
    <h3>Ports maintained by me:</h3>
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link text-dark {% if using == 'GitHub' %}active font-weight-bold{% endif %}" href="{% url 'my_ports_github' %}">Using GitHub ({{ ports_by_github_count }})</a>
            <a class="nav-item nav-link text-dark {% if using == 'email' %}active font-weight-bold{% endif %}" href="{% url 'my_ports_email' %}">Using Email(s) ({{ ports_by_email_count }})</a>
        </div>
    </nav>
            {% if connections|length > 0 %}
            <p class="mt-3">We tried looking for ports connected to these {{ using }} account(s):
                <strong>{% for i in connections %}{{ i }}{% if not forloop.last %}, {% endif %}</strong>
            {% endfor %}
            </p>
                {% include 'includes/basic_pagination.html' with items=ports contents="ports" %}
                <table class="f15 table table-condensed table-striped mt-2">
                    <thead>
                    <tr>
                        <td>Name</td>
                        <td>Version</td>
                        <td>Livecheck</td>
                    </tr>
                    </thead>
                {% for port in ports %}
                <tr class="p-0">
                    <td class="py-1"><a href="{% url 'port_detail' port.name %}">{{ port.name }}</a></td>
                    <td class="py-1">{{ port.version }}</td>
                    <td class="py-1">
                        {% if port.livecheck %}
                            {% if port.livecheck.has_updates %}<span class="badge badge-warning">Outdated</span>
                            {% elif port.livecheck.error %}<span class="badge badge-warning">Errored</span>
                            {% else %}<span class="badge badge-success">OK</span>
                            {% endif %}
                        {% else %}
                            <span class="badge badge-secondary">No Results</span>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
                </table>
                {% include 'includes/basic_pagination.html' with items=ports contents="ports" %}
                    {% if ports_github == 0 and ports_email == 0 %}
                    <p class="lead text-danger">No ports found. The <a href="https://guide.macports.org">MacPorts Guide</a> might help you get started.
                    {% endif %}
            {% else %}
            <p class="text-danger mt-2">You have not connected any {{using}} account. Make sure that GitHub connection is active and emails are verified.</p>
            {% endif %}
{% endblock %}
