{% extends "layout.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block title %}Reset Password |{% endblock %}

{% block head_scripts %}
    {% include 'account/style.html' %}
{% endblock %}

{% block content %}
      <div class="container">
    <div class="row">
      <div class="col-sm-10 col-md-9 col-lg-7 mx-auto">
        <div class="card card-signin my-2">
          <div class="card-body">
            <h5 class="card-title text-center">Reset password</h5>
            <form method="POST" action="{{ action_url }}">
                {% csrf_token %}
                {% get_providers as socialaccount_providers %}
              {% if socialaccount_providers %}
                {% include "account/social_list.html" with process="login" %}
              {% endif %}
                <hr>
            {{ form.as_p }}
              <button class="btn btn-lg btn-primary fw text-uppercase" type="submit">Change my password</button>
                <a href="{{ login_url }}" class="text-center btn btn-link">Login</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
