{% extends "layout.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block title %}Password Changed |{% endblock %}

{% block head_scripts %}
    {% include 'account/style.html' %}
{% endblock %}

{% block content %}
      <div class="container">
    <div class="row">
      <div class="col-sm-10 col-md-9 col-lg-7 mx-auto">
        <div class="card card-signin my-2">
          <div class="card-body">
            <h5 class="card-title text-center">Reset password</h5>
            <p>Password changed!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
