{% extends "layout.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block title %}Email Sent |{% endblock %}

{% block head_scripts %}
    {% include 'account/style.html' %}
{% endblock %}

{% block content %}
      <div class="container">
    <div class="row">
      <div class="col-sm-10 col-md-9 col-lg-7 mx-auto">
        <div class="card card-signin my-2">
          <div class="card-body">
            <h5 class="card-title text-center">Email sent</h5>
              <p>We have sent you a password reset link. If you do not receive please report.</p>
                <a href="{{ login_url }}" class="text-center btn btn-link">Login</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
