asn1crypto==0.24.0
beautifulsoup4==4.7.1
bs4==0.0.1
certifi==2019.3.9
cffi==1.12.2
chardet==3.0.4
cryptography==2.6.1
DateTime==4.3
Django==2.1.7
gunicorn==19.9.0
html5lib==1.0.1
idna==2.8
psycopg2==2.7.7
pycparser==2.19
pyOpenSSL==19.0.0
pytz==2018.9
requests==2.21.0
six==1.12.0
soupsieve==1.9
urllib3==1.24.1
webencodings==0.5.1
whitenoise==4.1.2
zope.interface==4.6.0
