<div id="navigation-source">
{% if installs.has_other_pages %}
            Page {{ installs.number }} of {{ installs.paginator.num_pages }} | Showing installs {{ installs.start_index }} to
            {{ installs.end_index }}<br><br>
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    {% if installs.has_previous %}
                        <li class="page-item"><button class="page-link" onclick="changePage({{ installs.previous_page_number }})">&laquo;</button></li>
                    {% else %}
                        <li class="disabled page-item"><span class="page-link">&laquo;</span></li>
                    {% endif %}

                    {% if installs.number|add:'-7' > 1 %}
                        <li class="page-item"><button class="page-link" onclick=changePage({{ installs.number|add:'-8' }})>&hellip;</button>
                        </li>
                    {% endif %}

                    {% for i in installs.paginator.page_range %}
                        {% if installs.number == i %}
                            <li class="active page-item"><span class="page-link">{{ i }} <span
                                    class="sr-only">(current)</span></span></li>
                        {% elif i > installs.number|add:'-8' and i < installs.number|add:'8' %}
                            <li class="page-item"><button class="page-link" onclick="changePage({{ i }})">{{ i }}</button></li>
                        {% endif %}
                    {% endfor %}

                    {% if installs.paginator.num_pages > installs.number|add:'7' %}
                        <li class="page-item"><button class="page-link" onclick="changePage({{ installs.number|add:'8' }})">&hellip;</button>
                        </li>
                    {% endif %}

                    {% if installs.has_next %}
                        <li class="page-item"><button class="page-link" onclick="changePage({{ installs.next_page_number }})">&raquo;</button>
                        </li>
                    {% else %}
                        <li class="disabled page-item"><span class="page-link">&raquo;</span></li>
                    {% endif %}
                </ul>
            </nav>
{% endif %}
</div>

<div id="response-table">
{% for port in installs %}
    <div class="row">
        <div class="col-6 p-2 border-left border-bottom pl-lg-4 pl-3">
            <a href="{% url 'port_detail' port.port %}">{{ port.port }}</a>
        </div>
        <div class="col-3 p-2 border-left border-bottom text-center">
            {{ port.total_count }}
        </div>
        <div class="col-3 p-2 border-left border-bottom border-right text-center">
            {{ port.req_count }}
        </div>
    </div>
{% endfor %}
</div>
