{% extends 'layout.html' %}

{% load static %}
{% load unix_to_time %}
{% load url_generate %}
{% load format_names %}
{% load url_replace %}

{% block title %}All Builds |{% endblock %}

{% block head_scripts %}
<style>
    .bootstrap-select .bs-ok-default::after {
    width: 0.3em;
    height: 0.6em;
    border-width: 0 0.1em 0.1em 0;
    transform: rotate(45deg) translateY(0.5rem);
}

.btn.dropdown-toggle:focus {
    outline: none !important;
}
</style>
    <script src="{% static 'js/bootstrap-multiselect.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/bootstrap-multiselect.css' %}">
{% endblock %}

{% block content %}
    <br>
    <h4>Builds</h4>
    <form method="get" action=".">
        <div class="form-row">
            <div class="col-9">
                {{ form.port_name }}
            </div>
            <div class="col-2">
                <button class="btn btn-primary" type="submit">Apply</button>
                <a href="." class="btn btn-link">Reset</a>
            </div>
        </div>
        <br>
        <div class="form-row">
            <div class="col-lg-4">
                <label>Select status: </label>
                {{ form.status }}
            </div>
            <div class="col-lg-4">
                <label>Select builder(s): </label>
                {{ form.builder_name__name }}
            </div>
            <div class="col-lg-4">
                <label class="form-check-label">{{ form.unresolved }} View unresolved:</label>
                <p class="f14 text-muted">Displays failed builds that have not been followed by successful builds. This will override the status filter.</p>
            </div>
        </div>
    </form>
    <br>
    {% if builds.has_other_pages %}
                <p>Page {{ builds.number }} of {{ builds.paginator.num_pages }} | Showing builds {{ builds.start_index }} to
                {{ builds.end_index }}</p>
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        {% if builds.has_previous %}
                            <li class="page-item"><a class="page-link" href="?{% url_replace page=builds.previous_page_number %}">&laquo;</a></li>
                        {% else %}
                            <li class="disabled page-item"><span class="page-link">&laquo;</span></li>
                        {% endif %}

                        {% if builds.number|add:'-4' > 1 %}
                            <li class="page-item"><a class="page-link" href="?{% url_replace page=builds.number|add:'-5' %}">&hellip;</a>
                            </li>
                        {% endif %}

                        {% for i in builds.paginator.page_range %}
                            {% if builds.number == i %}
                                <li class="active page-item"><span class="page-link">{{ i }} <span
                                        class="sr-only">(current)</span></span></li>
                            {% elif i > builds.number|add:'-5' and i < builds.number|add:'5' %}
                                <li class="page-item"><a class="page-link" href="?{% url_replace page=i %}">{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}

                        {% if builds.paginator.num_pages > builds.number|add:'4' %}
                            <li class="page-item"><a class="page-link" href="?{% url_replace page=builds.number|add:'5' %}">&hellip;</a>
                            </li>
                        {% endif %}

                        {% if builds.has_next %}
                            <li class="page-item"><a class="page-link" href="?{% url_replace page=builds.next_page_number %}">&raquo;</a>
                            </li>
                        {% else %}
                            <li class="disabled page-item"><span class="page-link">&raquo;</span></li>
                        {% endif %}
                    </ul>
                </nav>
    {% endif %}

    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Port</th>
            <th scope="col">Builder</th>
            <th scope="col">Build Number</th>
            <th scope="col">Start Time</th>
            <th scope="col">Elapsed Time</th>
            <th scope="col">Watcher</th>
            <th scope="col">Build Status</th>
        </tr>
        </thead>
        {% for build in builds %}
            <tr>
                <td><a href="{% url 'port_detail' build.port_name %}">{{ build.port_name }}</a></td>
                <td>{{ build.builder_name.display_name }}</td>
                <td><a target="_blank" href="{% build_url build.builder_name.name build.build_id %}">{{ build.build_id }}</a></td>
                <td>{{ build.time_start|date:"Y-m-d" }}  {{ build.time_start|time:"G:i:s" }} </td>
                <td>{{ build.time_elapsed }}</td>
                <td><a target="_blank" href="{% watcher_url build.builder_name.name build.watcher_id %}">{{ build.watcher_id }}</a></td>
                <td class="{% if build.status == 'build successful' %}text-success {% else %} text-danger {% endif %}">{{ build.status }}</td>
            </tr>
        {% endfor %}
    </table>


{% endblock %}

{% block scripts %}
    <script>
        $(function () {
            $('.selectpicker').selectpicker();
        });
    </script>
{% endblock %}