<h4 class="text-secondary">Showing {% if port_name != '' %}results for <i>"{{ port_name }}"</i> in {% endif %}{% if status == "" %} <ins>All Builds</ins> {% else %}builds with status: <ins>{{ status }}</ins>{% endif %} on <ins>{% if builder == "" %}All Builders {% else %}{{ builder }}{% endif %}</ins></h4>

{% if builds.has_other_pages %}
            Page {{ builds.number }} of {{ builds.paginator.num_pages }} | Showing builds {{ builds.start_index }} to
            {{ builds.end_index }}<br><br>
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    {% if builds.has_previous %}
                        <li class="page-item"><button class="page-link" onclick="changePage({{ builds.previous_page_number }})">&laquo;</button></li>
                    {% else %}
                        <li class="disabled page-item"><span class="page-link">&laquo;</span></li>
                    {% endif %}

                    {% if builds.number|add:'-4' > 1 %}
                        <li class="page-item"><button class="page-link" onclick=changePage({{ builds.number|add:'-5' }})>&hellip;</button>
                        </li>
                    {% endif %}

                    {% for i in builds.paginator.page_range %}
                        {% if builds.number == i %}
                            <li class="active page-item"><span class="page-link">{{ i }} <span
                                    class="sr-only">(current)</span></span></li>
                        {% elif i > builds.number|add:'-5' and i < builds.number|add:'5' %}
                            <li class="page-item"><button class="page-link" onclick="changePage({{ i }})">{{ i }}</button></li>
                        {% endif %}
                    {% endfor %}

                    {% if builds.paginator.num_pages > builds.number|add:'4' %}
                        <li class="page-item"><button class="page-link" onclick="changePage({{ builds.number|add:'5' }})">&hellip;</button>
                        </li>
                    {% endif %}

                    {% if builds.has_next %}
                        <li class="page-item"><button class="page-link" onclick="changePage({{ builds.next_page_number }})">&raquo;</button>
                        </li>
                    {% else %}
                        <li class="disabled page-item"><span class="page-link">&raquo;</span></li>
                    {% endif %}
                </ul>
            </nav>
{% endif %}

<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Port</th>
        <th scope="col">Builder</th>
        <th scope="col">Build Number</th>
        <th scope="col">Start Time</th>
        <th scope="col">Elapsed Time</th>
        <th scope="col">Watcher</th>
        <th scope="col">Build Status</th>
    </tr>
    </thead>
    {% for build in builds %}
        <tr>
            <td><a href="{% url 'port_detail' build.port_name %}">{{ build.port_name }}</a></td>
            <td>{{ build.builder_name.name }}</td>
            <td><a target="_blank" href="https://build.macports.org/builders/ports-{{ build.builder_name.name }}-builder/builds/{{ build.build_id }}">{{ build.build_id }}</a></td>
            <td>{{ build.time_start|date:"Y-m-d" }}  {{ build.time_start|time:"G:i:s" }} </td>
            <td>{{ build.time_elapsed|time:"H:i:s" }}</td>
            <td><a target="_blank" href="https://build.macports.org/builders/ports-{{ build.builder_name.name }}-watcher/builds/{{ build.watcher_id }}">{{ build.watcher_id }}</a></td>
            <td class="{% if build.status == 'build successful' %}text-success {% else %} text-danger {% endif %}">{{ build.status }}</td>
        </tr>
    {% endfor %}
</table>