{% extends 'ports/layout.html' %}

{% block content %}<br>
    <form onSubmit="return false">
            {% csrf_token %}
        <div class="form-group mb-0">
            <label class="radio-inline mr-3"><input onclick="switch_search()" type="radio" name="search_by" value="search-by-port-name" checked>Search by port-name</label>
            <label class="radio-inline"><input onclick="switch_search()" type="radio" name="search_by" value="search-by-description">Search by Description</label>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="search" name="search" placeholder="Search Ports">
        </div>
    </form>
    <br>
    <div class="row" id="main-content">
        <div class="col-lg-8">
            <div class="card">
                <div class="card-body">
                    <h6 class="border-bottom">Browse By Categories</h6>
                    <p>
                        {% for cat in categories %}
                        <a href="/ports/category/{{ cat.name }}">{{ cat.name }}</a> |
                        {% endfor %}
                    </p>
                </div>
            </div>
            <br>
            <div class="card">
                <div class="card-body">
                    <h6 class="border-bottom">Browse Ports Alphabetically</h6>
                    <p>
                        {% for letter in alphabet %}
                        <a href="{% url 'letter_list' letter %}">{{ letter }}</a> |
                        {% endfor %}
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div style="background-color: cadetblue;padding: 12px;">
                <h5 style="color: white;">Top Installations this Month</h5>
            </div>
            <div class="border" style="padding: 12px">
                <ul>
                    <li><a href="{% url 'port_detail' 'AppHack' %}"> AppHack </a><span class="float-right">32</span> </li>
                    <li>mpstats <span class="float-right">27</span> </li>
                    <li>HermesApp <span class="float-right">15</span> </li>
                    <li>IcyJuice <span class="float-right">12</span> </li>
                    <li>random <span class="float-right">9</span> </li>
                </ul>
                <a href="/statistics">Continue to Detailed Stats</a>
            </div>

        </div>
    </div>
     <div id="filtered_table">
    </div>


{% endblock %}

{% block script %}
{% endblock %}