{% extends 'ports/layout.html' %}

{% block title %}Ports |{% endblock %}

{% block content %}
    <br>
    <form onSubmit="return false" class="shadow-sm p-3 rounded">
        {% csrf_token %}
        <div class="form-group mb-0">
            <label class="radio-inline mr-3"><input onclick="switch_search()" type="radio" name="search_by" value="name" checked>Search by port-name</label>
            <label class="radio-inline"><input onclick="switch_search()" type="radio" name="search_by" value="description">Search by Description</label>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="search" name="search" placeholder="Search Ports">
        </div>
    </form>
    <br>
    <div class="container" id="main-content">
        <div class="row">
        <div class="col-lg-8 shadow-sm pt-2">
            <h3 class="text-secondary border-bottom border-secondary">Browse By Categories</h3>
                <div class="grid-container">
                    {% for cat in categories %}
                    <div>
                        <a href="{% url 'category_list' cat.name %}">{{ cat.name }}</a>
                    </div>
                    {% endfor %}
                </div>
        <br>
        </div>
        <div class="col-lg-4">
            <div class="bg-secondary" style="padding: 12px;">
                <h5 style="color: white;">Top Installations this Month</h5>
            </div>
            <div class="border" style="padding: 12px">
                <ul>
                    <li><a href="{% url 'port_detail' 'AppHack' %}"> AppHack </a><span class="float-right">32</span> </li>
                    <li>mpstats <span class="float-right">27</span> </li>
                    <li>HermesApp <span class="float-right">15</span> </li>
                    <li>IcyJuice <span class="float-right">12</span> </li>
                    <li>random <span class="float-right">9</span> </li>
                </ul>
                <a href="/statistics">Continue to Detailed Stats</a>
            </div>
        </div>
        </div>
    </div>

    <div id="filtered_table">
    </div>


{% endblock %}

{% block script %}
{% endblock %}
