{% extends 'ports/layout.html' %}
{% load staticfiles %}

{% block head_scripts %}
    <script src="{% static 'js/ajax-port-detail.js' %}"></script>
{% endblock %}

{% block content %}
    <br>
    <form onSubmit="return false">
            {% csrf_token %}
        <div class="form-group mb-0">
            <label class="radio-inline mr-3"><input onclick="switch_search()" type="radio" name="search_by" value="name" checked>Search by port-name</label>
            <label class="radio-inline"><input onclick="switch_search()" type="radio" name="search_by" value="description">Search by Description</label>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="search" name="search" placeholder="Search All Ports">
        </div>
    </form>
    <span style="display: none" id="port_name">{{ port.name }}</span>
    <br>
    <div id="main-content">

    <!-- Tabs Start -->
        <ul class="nav nav-tabs" id="tabs">
            <li class="nav-item">
                <a href="javascript:void(0);" id="summary" class="nav-link active" onclick="tabClick(this)">Summary</a>
            </li>
            <li class="nav-item">
                <a href="javascript:void(0);" id="builds" class="nav-link" onclick="tabClick(this)">Build Information</a>
            </li>
            <li class="nav-item">
                <a href="javascript:void(0);" id="stats" class="nav-link" onclick="tabClick(this)">Installation Stats</a>
            </li>
        </ul>
        <br>
        <div id="display-box">
        </div>
        <div id="loading-image" class="container text-center" style="height: 500px">
            <img src="{% static 'images/giphy.gif' %}">
        </div>
        <br>
        <div class="border-secondary border rounded container p-2" style="background-color: floralwhite">
            <h5>Open Tickets for {{ port.name }} from trac.macports.org</h5>
        <div id="trac_tickets"></div>
        </div>
    </div>
    <div id="filtered_table">
    </div>

{% endblock %}

{% block script %}
    <script>
        $("#selectos").change(function () {
            if ($("#selectos").val() == "") {
            }
            var value = $(this).val().toLowerCase();

            $("#build_table tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });

        }).change();
    </script>
{% endblock %}