{% extends 'ports/layout.html' %}
{% load staticfiles %}
{% load format_names %}
{% load url_generate %}

{% block head_scripts %}
    <script src="{% static 'js/ajax-port-detail.js' %}"></script>
{% endblock %}

{% block content %}
    <br>
    <form onSubmit="return false">
            {% csrf_token %}
        <div class="form-group mb-0">
            <label class="radio-inline mr-3"><input onclick="switch_search()" type="radio" name="search_by" value="name" checked>Search by port-name</label>
            <label class="radio-inline"><input onclick="switch_search()" type="radio" name="search_by" value="description">Search by Description</label>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="search" name="search" placeholder="Search All Ports">
        </div>
    </form>
    <span style="display: none" id="port_name">{{ req_port.name }}</span>
    <br>
    <div id="main-content">
        <div class="rounded bg-light border border-secondary" style="padding: 8px">
        <h4>{{ req_port.name }}</h4>
        <p class="text-secondary">{{ req_port.description }}</p>
        <p class="float-right"><a class="btn-warning btn" href="https://github.com/macports/macports-ports/tree/master/{{ port.portdir }}/Portfile"
               target="_blank">View on Github</a><br><br></p>
            <h5>Port Health:
                {% for builder, latest_build in latest_builds.items %}
                    {% if latest_build %}
                        <a target="_blank"
                           href="{% build_url builder latest_build.build_id %}"><span class="mr-1 badge {% if latest_build.status == "build successful" %}
                                                        badge-success
                                                    {% else %}
                                                        badge-danger
                                                    {% endif %}">{{ builder|os_version }}</span></a>

                    {% else %}
                        <span class="badge badge-secondary mr-1">{{ builder|os_version }}</span>

                    {% endif %}
                {% endfor %}</h5>
            </div>
    <br>

    <!-- Tabs Start -->
        <ul class="nav nav-tabs" id="tabs">
            <li class="nav-item">
                <a href="javascript:void(0);" class="nav-link active" onclick="tabClick(this, 'summary')">Summary</a>
            </li>
            <li class="nav-item">
                <a href="javascript:void(0);" class="nav-link" onclick="tabClick(this, 'builds')">Build Information</a>
            </li>
            <li class="nav-item">
                <a href="javascript:void(0);" class="nav-link" onclick="tabClick(this, 'stats')">Installation Stats</a>
            </li>
            <li class="nav-item">
                <a href="javascript:void(0);" class="nav-link" onclick="showTickets(this)">
                    Trac Tickets <span id="tickets-count" class="badge badge-warning"></span>
                </a>
            </li>
        </ul>
        <br>
        <div id="display-box">
        </div>
        <div id="tickets-box">
        </div>
        <div id="loading-image" class="container text-center" style="height: 500px">
            <img src="{% static 'images/giphy.gif' %}">
        </div>
        <br>
        </div>
    <div id="filtered_table">
    </div>

{% endblock %}

{% block script %}
{% endblock %}
