{% extends 'ports/layout.html' %}
{% load staticfiles %}

{% block head_scripts %}
    <script src="{% static 'js/ajax-port-detail.js' %}"></script>
{% endblock %}

{% block content %}
    <br>
    <form onSubmit="return false">
            {% csrf_token %}
        <div class="form-group mb-0">
            <label class="radio-inline mr-3"><input onclick="switch_search()" type="radio" name="search_by" value="name" checked>Search by port-name</label>
            <label class="radio-inline"><input onclick="switch_search()" type="radio" name="search_by" value="description">Search by Description</label>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="search" name="search" placeholder="Search All Ports">
        </div>
    </form>
    <span style="display: none" id="port_name">{{ portname }}</span>
    <br>
    <div id="main-content">

    <!-- Tabs Start -->
        <ul class="nav nav-tabs" id="tabs">
            <li class="nav-item">
                <a href="javascript:void(0);" class="nav-link active" onclick="tabClick(this, 'summary')">Summary</a>
            </li>
            <li class="nav-item">
                <a href="javascript:void(0);" class="nav-link" onclick="tabClick(this, 'builds')">Build Information</a>
            </li>
            <li class="nav-item">
                <a href="javascript:void(0);" class="nav-link" onclick="tabClick(this, 'stats')">Installation Stats</a>
            </li>
            <li class="nav-item">
                <a href="javascript:void(0);" class="nav-link" onclick="loadTickets(this, 'stats')">Trac Tickets</a>
            </li>
        </ul>
        <br>
        <div id="display-box">
        </div>
        <div id="loading-image" class="container text-center" style="height: 500px">
            <img src="{% static 'images/giphy.gif' %}">
        </div>
        <br>
        </div>
    <div id="filtered_table">
    </div>

{% endblock %}

{% block script %}
{% endblock %}