{% extends 'ports/layout.html' %}
{% load staticfiles %}

{% block head_scripts %}
    <script src="{% static 'js/ajax-variants.js' %}"></script>
{% endblock %}

{% block content %}
    <br>
    {% csrf_token %}
    <input type="text" class="form-control" id="filter" name="filter"
           placeholder="Search Ports with variant '{{ variant }}'">
    <span style="display: none" id="search_in">{{ variant }}</span>
    <span style="display: none;" id="filter-content">Variant</span>
    <br>
    <div id="all_ports_table">
        <h5>Total {{ all_objects_count }} Port(s) with Variant: {{ variant }}</h5>
        {% if objects.has_other_pages %}
            Page {{ objects.number }} of {{ objects.paginator.num_pages }} | Showing ports {{ objects.start_index }} to
            {{ objects.end_index }}<br><br>
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    {% if objects.has_previous %}
                        <li class="page-item"><a class="page-link"
                                                 href="?page={{ objects.previous_page_number }}">&laquo;</a></li>
                    {% else %}
                        <li class="disabled page-item"><span class="page-link">&laquo;</span></li>
                    {% endif %}

                    {% if objects.number|add:'-4' > 1 %}
                        <li class="page-item"><a class="page-link" href="?page={{ objects.number|add:'-5' }}">&hellip;</a>
                        </li>
                    {% endif %}

                    {% for i in objects.paginator.page_range %}
                        {% if objects.number == i %}
                            <li class="active page-item"><span class="page-link">{{ i }} <span
                                    class="sr-only">(current)</span></span></li>
                        {% elif i > objects.number|add:'-5' and i < objects.number|add:'5' %}
                            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}

                    {% if objects.paginator.num_pages > objects.number|add:'4' %}
                        <li class="page-item"><a class="page-link" href="?page={{ objects.number|add:'5' }}">&hellip;</a>
                        </li>
                    {% endif %}

                    {% if objects.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{ objects.next_page_number }}">&raquo;</a>
                        </li>
                    {% else %}
                        <li class="disabled page-item"><span class="page-link">&raquo;</span></li>
                    {% endif %}
                </ul>
            </nav>
        {% endif %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Version</th>
                <th scope="col">Description</th>
                <th scope="col">Installations this month</th>
            </tr>
            </thead>
            {% for object in objects %}
                <tr>
                    <td><a href="{% url 'port_detail' object.port.name %}">{{ object.port.name }}</a></td>
                    <td>{{ object.port.version }}</td>
                    <td>{{ object.port.description }}</td>
                    <td>NA</td>
                </tr>
            {% endfor %}
        </table>
        <br>
        {% if objects.has_other_pages %}
            <ul class="pagination">
                {% if objects.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{ objects.previous_page_number }}">&laquo;</a>
                    </li>
                {% else %}
                    <li class="disabled page-item"><span class="page-link">&laquo;</span></li>
                {% endif %}

                {% if objects.number|add:'-4' > 1 %}
                    <li class="page-item"><a class="page-link" href="?page={{ objects.number|add:'-5' }}">&hellip;</a>
                    </li>
                {% endif %}

                {% for i in objects.paginator.page_range %}
                    {% if objects.number == i %}
                        <li class="active page-item"><span class="page-link">{{ i }} <span
                                class="sr-only">(current)</span></span></li>
                    {% elif i > objects.number|add:'-5' and i < objects.number|add:'5' %}
                        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}

                {% if objects.paginator.num_pages > objects.number|add:'4' %}
                    <li class="page-item"><a class="page-link" href="?page={{ objects.number|add:'5' }}">&hellip;</a></li>
                {% endif %}

                {% if objects.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ objects.next_page_number }}">&raquo;</a>
                    </li>
                {% else %}
                    <li class="disabled page-item"><span class="page-link">&raquo;</span></li>
                {% endif %}
            </ul>
        {% endif %}
        </nav>
    </div>
    <div id="filtered_table">
    </div>
{% endblock %}