<span style="display: none;" id="tickets-count-returned">{{ tickets|length }}</span>
{% if tickets|length > 0 %}
    <table class="table table-striped">
        {% for ticket in tickets %}
            <tr>
                <td><a target="_blank" href="https://trac.macports.org{{ ticket.url }}">{{ ticket.id }}</a></td>
                <td>{{ ticket.title }}</td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    <div class="alert alert-warning">
        No Tickets Found
    </div>
{% endif %}
