{% load format_names %}
    <br>
    <div class="row">
        <div class="col-lg-8">
            <table class="table table-striped border border-top border-muted">
                <tr>
                    <th scope="row">Homepage:</th>
                    <td><a href="{{ port.homepage }}" target="_blank">{{ port.homepage }}</a></td>
                </tr>
                <tr>
                    <th scope="row">Version:</th>
                    <td>{{ port.version }}</td>
                </tr>
                <tr>
                    <th scope="row">Maintained by:</th>
                    <td>
                        {% if port.closedmaintainer is True %}
                            <button type="button" class="btn" data-toggle="tooltip" data-placement="top" title="Changes of this port require maintainer's approval.">
                                <i class="fas fa-lock"></i>
                            </button>
                        {% endif %}
                        {% if maintainers.all|length > 0 %}
                        {% for maintainer in maintainers %}
                                {% if maintainer.github %}
                                    <a href="/maintainers/github/{{ maintainer.github }}">{{ maintainer.github }}</a>{% if not forloop.last %},{% endif %}
                                {% else %}
                                    <a href="/maintainers/email/{{ maintainer.name }}__{{ maintainer.domain }}">{{ maintainer.name }}</a>{% if not forloop.last %},{% endif %}
                                {% endif %}
                        {% endfor %}
                        {% else %}
                            (nobody)
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th scope="row">Variants:</th>
                    <td>
                        {% if variants.count > 0 %}
                            {% for variant in variants %}
                                <a href="{% url 'variant_list' variant.variant %}">{{ variant.variant }}</a>{% if not forloop.last %},{% endif %}
                            {% endfor %}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th scope="row">License:</th>
                    <td>{{ port.license }}</td>
                </tr>
                <tr>
                    <th scope="row">Platforms:</th>
                    <td>{{ port.platforms }}</td>
                </tr>
                <tr>
                    <th scope="row">Categories:</th>
                    <td>
                        {% for cat in port.categories.all %}
                            <a href="{% url 'category_list' cat.name %}">{{ cat.name }}</a>{% if not forloop.last %},{% endif %}
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <td scope="row"><strong>Depends on:</strong><br>
                    </td>
                    <td>{% if not dependencies|length > 0 %}-{% endif %}</td>
                </tr>
                {% for dependency in dependencies %}
                    <tr>
                        <td class="pt-0 pb-0 text-right">{{ dependency.type }}:</td>
                        <td class="pt-0 pb-0">
                            {% for port in dependency.dependencies.all|dictsort:"name" %}
                                <a href="{% url 'port_detail' port.name %}">{{ port.name }}</a>{% if not forloop.last %},{% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
                <tr>
                    <th scope="row">Dependency of:</th>
                    <td>{% if not dependents|length > 0 %}-{% endif %}</td>
                </tr>
                {% regroup dependents|dictsort:"type" by type as dependent_parent %}
                {% for type in dependent_parent %}
                    <tr>
                        <td class="pt-0 pb-0 text-right">{{ type.grouper }}:</td>
                        <td class="pt-0 pb-0">
                        {% for i in type.list %}
                            <a href="{% url 'port_detail' i.port_name.name %}">{{ i.port_name.name }}</a>{% if not forloop.last %},{% endif %}
                        {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
                </tr>
            </table>
        </div>
        <div class="col-lg-4">
            <div class="rounded border" style="padding: 8px;">
                <h6 class="text-center">{{ port.portdir }}</h6>
                <p class="text-secondary">{{ port.long_description }}</p>
            </div>
            <br>
            <div class="rounded border" style="padding: 8px">
                <h6>For last 30 days</h6>
                <ul class="list-group">
                    <li class="list-group-item">Requested Installations:<strong class="float-right">
                        {{ requested_count.port__count }}</strong></li>
                    <li class="list-group-item">Total Installations:<strong class="float-right">{{ total_count.port__count }}</strong></li>
                    <li class="list-group-item"><a href="javascript:void(0);" onclick="statsClick($('#stats'), 30, 0)">Continue to statistics</a></li>
                </ul>
            </div>
        </div>
    </div>
