{% extends 'ports/layout.html' %}

{% load staticfiles %}

{% block head_scripts %}
    <script src="{% static 'js/ajax-all-ports-stats.js' %}"></script>
{% endblock %}

{% block content %}
    <br>
    <br>
<div id="navigation">

</div>
<form class="form-inline">
    <label class="form-inline" for="days-filter">Showing data for users who submitted stats in last: </label>
    <select class="form-control form-inline ml-2" id="days-filter" name="days-filter">
        <option value="7">7 days</option>
        <option value="30" selected>30 days</option>
        <option value="90">90 days</option>
        <option value="180">180 days</option>
        <option value="365">365 days</option>
    </select>
</form>
<div class="container">
<div class="row" id="table-header">
    <div class="col-sm-6 col-xs-6 p-2 border-left border-top border-bottom pr-4">
        <strong>Port</strong><button id="port" onclick="sort(this)" class="btn border float-right">&#9650;</button><button id="-port" onclick="sort(this)" class="btn border float-right">&#9660;</button>
    </div>
    <div class="col-sm-3 col-xs-3 p-2 border-left border-top border-bottom">
        <strong>Total</strong><button id="total_count" onclick="sort(this)" class="btn border float-right">&#9650;</button><button id="-total_count" onclick="sort(this)" class="btn btn-info border float-right">&#9660;</button>
    </div>
    <div class="col-sm-3 col-xs-3 p-2 border-left border-top border-bottom border-right">
        <strong>Requested</strong><button id="req_count" onclick="sort(this)" class="btn border float-right">&#9650;</button><button id="-req_count" onclick="sort(this)" class="btn border float-right">&#9660;</button>
    </div>
</div>
<div id="loading-image" class="container text-center" style="height: 500px; display: none">
    <img src="{% static 'images/giphy.gif' %}">
</div>
<div id="list-of-ports">

</div>
</div>

{% endblock %}
