{% extends 'ports/layout.html' %}

{% load staticfiles %}

{% block head_scripts %}
    <script src="{% static 'js/ajax-all-ports-stats.js' %}"></script>
{% endblock %}

{% block title %}Port Installations |{% endblock %}

{% block content %}
    <br>
    {% csrf_token %}
    <input type="text" class="form-control" id="search-by" name="search-by" placeholder="Filter by port name">
    <br>
    <form class="form-inline">
    <label class="form-inline" for="days-filter">Showing data for users who submitted stats in last: </label>
    <select class="form-control form-inline ml-2" id="days-filter" name="days-filter">
        <option value="7">7 days</option>
        <option value="30" selected>30 days</option>
        <option value="90">90 days</option>
        <option value="180">180 days</option>
        <option value="365">365 days</option>
    </select>
</form>
    <br>
<div id="navigation">

</div>
    <br>
<div class="container">
<div class="row" id="table-header">
    <div class="col-6 border-left border-top border-bottom text-center">
        <strong>Port</strong>
        <div class="btn-group-vertical btn-group-sm ml-3"><button id="port" onclick="sort(this)" class="btn p-0">&#9650;</button><button id="-port" onclick="sort(this)" class="btn p-0">&#9660;</button></div>
    </div>
    <div class="col-3 pr-4 border-left border-top border-bottom text-center">
        <strong>Total</strong>
        <div class="btn-group-vertical btn-group-sm ml-3"><button id="total_count" onclick="sort(this)" class="btn p-0">&#9650;</button><button id="-total_count" onclick="sort(this)" class="btn p-0 btn-info">&#9660;</button></div>
    </div>
    <div class="col-3 pr-4 border-left border-top border-bottom border-right text-center">
        <strong>Requested</strong>
        <div class="btn-group-vertical btn-group-sm ml-3"><button id="req_count" onclick="sort(this)" class="btn p-0">&#9650;</button><button id="-req_count" onclick="sort(this)" class="btn p-0">&#9660;</button></div>
    </div>
</div>
<div id="loading-image" class="container text-center" style="height: 500px; display: none">
    <img src="{% static 'images/giphy.gif' %}">
</div>
<div id="list-of-ports">

</div>
</div>

{% endblock %}
