{% extends 'ports/layout.html' %}
{% load staticfiles %}

{% block head_scripts %}
    <script src="{% static 'js/ajax-categories.js' %}" xmlns="http://www.w3.org/1999/html"></script>
{% endblock %}

{% block title %}{{ category }}- Category |{% endblock %}

{% block content %}
    <br>
    {% csrf_token %}
    <input type="text" class="form-control" id="filter" name="filter"
           placeholder="Search Ports in category '{{ category }}'">
    <br>
    <div id="all_ports_table">
        <h5>Category: <span id="categories__name">{{ category }}</span></h5>
        {% include 'ports/includes/non-ajax-pagination.html' with objects=ports paginate_by=paginate_by all_count=portscount %}
        {% include 'ports/includes/ports-table.html' with ports=ports is_foreign_key=False %}
        <br>
        {% include 'ports/includes/non-ajax-pagination.html' with objects=ports paginate_by=paginate_by all_count=portscount %}
    </div>
    <div id="filtered_table">
    </div>
{% endblock %}
