{% extends 'ports/layout.html' %}
{% load staticfiles %}

{% block title %}Ports |{% endblock %}

{% block head_scripts %}
    <script src="{% static 'js/ajax-search.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="container mb-4" id="main-content">
        <h4 class="text-left p-0 mb-0 text-secondary mt-5">Available Ports for <ins>The MacPorts Project</ins></h4>
        <h1 class="display-4 font-weight-bold text-left">
            Install and upgrade open source software on macOS.
        </h1>
        <div class="my-1 text-center text-md-left">
            New to MacPorts? <a class="font-weight-bold" href="https://www.macports.org/install.php">Install now!</a>
        </div>
    </div>
    <form onSubmit="clearTimeout(requestTimer); ajaxCallSearch(); return false" class="p-3 justify-content-center">
        {% csrf_token %}
        <div class="form-group text-center mb-0">
            <label class="radio-inline mr-3"><input class="mr-2" onclick="switch_search()" type="radio" name="search_by" value="name" checked>Search by port-name</label>
            <label class="radio-inline"><input class="mr-2" onclick="switch_search()" type="radio" name="search_by" value="description">Search by description</label>
        </div>
        <div class="form-group text-center flex-container">
            <input style="max-width: 700px; height: 45px;" type="text" class="form-control rounded-pill" id="search" name="search" placeholder="Search among {{ all_ports_count }} active ports" autofocus>
        </div>
    </form>
    <div id="filtered_table">
    </div>
    <div>
        <div class="pl-2 pt-1">
            <h5>Popular ports</h5>
        </div>
        <div >
            <ul style="max-width: 700px; list-style-type: none;">
                {% for top_port in top_ports %}
                <li>
                    <a href="{% url 'port_detail' top_port.port %}">{{ top_port.port }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

{% endblock %}

{% block script %}
{% endblock %}
