{% extends 'ports/layout.html' %}
{% load staticfiles %}
{% load format_names %}
{% load url_generate %}

{% block head_scripts %}
    <script src="{% static 'js/ajax-port-detail.js' %}"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
{% endblock %}

{% block title %}{{ req_port.name }}- Port |{% endblock %}

{% block content %}
    <br>
    <form onSubmit="return false">
            {% csrf_token %}
        <div class="form-group mb-0">
            <label class="radio-inline mr-3"><input class="mr-2" onclick="switch_search()" type="radio" name="search_by" value="name" checked>Search by port-name</label>
            <label class="radio-inline"><input class="mr-2" onclick="switch_search()" type="radio" name="search_by" value="description">Search by Description</label>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="search" name="search" placeholder="Search All Ports">
        </div>
    </form>
    <span style="display: none" id="port_name">{{ req_port.name }}</span>
    <br>
    <div id="main-content">

    <!-- Obsolete port warning start-->
    {% if req_port.replaced_by %}
        <div class="alert alert-warning" role="alert">
            This port is obsolete. It has been replaced by <a href="{% url 'port_detail' req_port.replaced_by %}">{{ req_port.replaced_by }}</a>.
        </div>
    {% endif %}
    <!-- Obsolete port warning end-->

    <!-- Deleted port warning start-->
    {% if req_port.active is False %}
        <div class="alert alert-danger" role="alert">
            This port has been deleted. This page will exist till another port with the name "{{ req_port.name }}" comes
            into existence.</a>
        </div>
    {% endif %}
    <!-- Deleted port warning end-->

        <div class="rounded bg-light border border-secondary" style="padding: 8px">
        <h4>{{ req_port.name }}</h4>
        <p class="text-secondary">{{ req_port.description }}</p>
        {% if req_port.active is True %}
        <p class="float-right"><a class="btn-warning btn" href="https://github.com/macports/macports-ports/tree/master/{{ req_port.portdir }}/Portfile"
               target="_blank">View on Github</a><br><br></p>
        {% endif %}
            <h5>Port Health:
                {% for builder, latest_build in latest_builds.items %}
                    {% if latest_build %}
                        <a target="_blank"
                           href="{% build_url builder latest_build.build_id %}"><span class="mr-1 badge {% if latest_build.status == "build successful" %}
                                                        badge-success
                                                    {% else %}
                                                        badge-danger
                                                    {% endif %}">{{ builder|os_version }}</span></a>

                    {% else %}
                        <span class="badge badge-secondary mr-1">{{ builder|os_version }}</span>

                    {% endif %}
                {% endfor %}</h5>
            </div>
    <br>

    <!-- Tabs Start -->
        <ul class="nav nav-tabs" id="tabs">
            <li class="nav-item">
                <a href="javascript:void(0);" id="summary" class="nav-link active" onclick="tabClick(this, 'summary')">Summary</a>
            </li>
            <li class="nav-item">
                <a href="javascript:void(0);" id="builds" class="nav-link" onclick="tabClick(this, 'builds')">Build Information</a>
            </li>
            <li class="nav-item">
                <a href="javascript:void(0);" id="stats" class="nav-link" onclick="statsClick(this, {{ days }}, {{ days_ago }})">Installation Stats</a>
            </li>
            <li class="nav-item">
                <a href="javascript:void(0);" id="tickets" class="nav-link" onclick="showTickets(this)">
                    Trac Tickets <span id="tickets-count" class="badge badge-light border border-secondary"></span>
                </a>
            </li>
        </ul>
        <br>
        <div id="display-box">
        </div>
        <div id="tickets-box">
        </div>
        <div id="loading-image" class="container text-center" style="height: 500px; display: none">
            <img src="{% static 'images/giphy.gif' %}">
        </div>
        <br>
        </div>
    <div id="filtered_table">
    </div>

{% endblock %}

{% block script %}
    <script>
        $('#{{ tab }}').trigger("click");
        loadTickets();
    </script>

{% endblock %}
