{% extends 'ports/layout.html' %}
{% load sort_version %}

{% block head_scripts %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

        google.charts.load('current', {'packages': ['corechart']});

        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {

            {% regroup os_distribution by os_version as os_chart_os_version_parent %}
            {% regroup os_distribution|dictsort:"os_arch" by os_arch as os_chart_os_arch_parent %}

            var data = google.visualization.arrayToDataTable([
            ['OS Version', {% for os_arch in os_chart_os_arch_parent %}'{{ os_arch.grouper }}', {% endfor %} { role: 'annotation' } ],
                {% for os_version in os_chart_os_version_parent %}
                ['OS: {{ os_version.grouper }}', {% for os_arch in os_chart_os_arch_parent %}{% for i in os_version.list %}{% if i.os_arch == os_arch.grouper %}{{ i.num }}{% endif %}{% endfor %}, {% endfor %} ''],
                {% endfor %}
            ]);

            var options = {
                'title': 'OS Versions and Architectures',
                isStacked: true,
            };

            var chart = new google.visualization.ColumnChart(document.getElementById('os-chart'));
            chart.draw(data, options);
        }
    </script>
    <script type="text/javascript">
        google.charts.load('current', {'packages': ['corechart']});

        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {

            var data = new google.visualization.DataTable();
            data.addColumn('string', 'OSX Version');
            data.addColumn('number', 'Number of Users');
            data.addRows([
                {% for i in macports_distribution %}
                    ['{{ i.macports_version }}', {{ i.num }}],
                {% endfor %}
            ]);

            var options = {
                'title': 'MacPorts Versions'
            };

            var chart = new google.visualization.ColumnChart(document.getElementById('macports-chart'));
            chart.draw(data, options);
        }
    </script>
    <script type="text/javascript">
        google.charts.load('current', {'packages': ['corechart']});

        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            {% regroup xcode_distribution|sortversion:"xcode_version" by xcode_version as xcode_parent %}
            {% regroup xcode_distribution by os_version as os_parent %}

        var data = google.visualization.arrayToDataTable([
        ['OS Version', {% for version in xcode_parent %}'{{ version.grouper }}', {% endfor %} { role: 'annotation' } ],
            {% for os in os_parent %}
            ['OS: {{ os.grouper }}', {% for version in xcode_parent %}{% for i in os.list %}{% if i.xcode_version == version.grouper %}{{ i.num }}{% endif %}{% endfor %}, {% endfor %} ''],
            {% endfor %}
        ]);

            var options = {'title': 'XCode Versions',
                            isStacked: true,};

            var chart = new google.visualization.ColumnChart(document.getElementById('xcode-chart'));
            chart.draw(data, options);
        }
    </script>
    <script type="text/javascript">
        google.charts.load('current', {'packages': ['corechart']});

        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {

            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Month');
            data.addColumn('number', 'Users');
            data.addRows([
                {% for user in users_by_month %}
                    ['{{ user.month|date:"M Y" }}', {{ user.num }}],
                {% endfor %}
            ]);

            var options = {
                'title': 'Users vs Month',
                vAxis: {
                    viewWindow: {
                        min:0
                    }
                }
            };

            var chart = new google.visualization.LineChart(document.getElementById('user-chart'));
            chart.draw(data, options);
        }
    </script>

{% endblock %}

{% block title %}Statistics |{% endblock %}

{% block content %}
    <br>
    <ul class="nav nav-tabs" id="tabs" role="tablist">
        <li class="nav-item">
            <a href="#" class="nav-link active">System Stats</a>
        </li>
        <li class="nav-item">
            <a href="{% url 'stats_port_installations' %}" class="nav-link">Port Installations</a>
        </li>
    </ul>
    <br><br>
    <div class="row">
        <div class="col-lg-7 p-0">
            <div class="chart" id="user-chart"></div>
        </div>
        <div class="col-lg-5">
            <p class="text-center" style="font-size: 13px"><i>Opt-in for submitting stats by installing the port <span class="bg-light">mpstats-gsoc</span>.</i></p>
            <br>
            <table class="table table-striped">
                <tbody>
                <tr>
                    <th scope="row">Total submissions:</th>
                    <td class="text-right">{{ total_submissions }}</td>
                </tr>
                <tr>
                    <th scope="row">Total unique users:</th>
                    <td class="text-right">{{ unique_users }}</td>
                </tr>
                <tr>
                    <th scope="row">Unique users last week:</th>
                    <td class="text-right">{{ last_week }}</td>
                </tr>
                <tr>
                    <th scope="row">Unique users this week:</th>
                    <td class="text-right">{{ current_week }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <br>
    <hr>
    <br>
    {% csrf_token %}
    <form class="form-inline justify-content-center" method="get" action="{% url 'stats_home' %}#os-chart">
        <label for="days"><h5>The charts below show stats for users who made submissions in last: </h5></label>
        <select onchange="this.form.submit()" class="form-control ml-2" name="days" id="days">
            <option class="format-option" value="7" >7 Days</option>
            <option class="format-option" value="30" {% if days == 30 %}selected{% endif %}>30 Days</option>
            <option class="format-option" value="90" {% if days == 90 %}selected{% endif %}>90 Days</option>
            <option class="format-option" value="180" {% if days == 180 %}selected{% endif %}>180 Days</option>
            <option class="format-option" value="365" {% if days == 365 %}selected{% endif %}>365 Days</option>
        </select>
    </form>
    <br>
    <div class="chart" id="os-chart"></div><br>
    <div class="chart" id="xcode-chart"></div><br><br>
    <div class="chart" id="macports-chart"></div><br><br>
    <br>
{% endblock %}
