{% extends 'ports/layout.html' %}
{% load staticfiles %}

{% block head_scripts %}
    <script src="{% static 'js/ajax-variants.js' %}"></script>
{% endblock %}

{% block title %}{{ variant }} Variant |{% endblock %}

{% block content %}
    <br>
    {% csrf_token %}
    <input type="text" class="form-control" id="filter" name="filter"
           placeholder="Search Ports with variant '{{ variant }}'">
    <span style="display: none" id="search_in">{{ variant }}</span>
    <span style="display: none;" id="filter-content">Variant</span>
    <br>
    <div id="all_ports_table">
        <h5>Variant: {{ variant }}</h5>
        {% include 'ports/includes/non-ajax-pagination.html' with objects=objects paginate_by=paginate_by all_count=all_objects_count %}
        {% include 'ports/includes/ports-table.html' with ports=objects is_foreign_key=True %}
        <br>
        {% include 'ports/includes/non-ajax-pagination.html' with objects=objects paginate_by=paginate_by all_count=all_objects_count %}
    </div>
    <div id="filtered_table">
    </div>
{% endblock %}
