{% extends 'ports/../../../templates/layout.html' %}

{% load staticfiles %}
{% load unix_to_time %}

{% block script %}
    <script src="{% static 'js/ajax-all-builds.js' %}"></script>
{% endblock %}

{% block title %}All Builds |{% endblock %}


{% block content %}
    <br>
    <h4>Builds</h4>
    {% csrf_token %}
    <span id="jump_to_page" style="display: none">{{ jump_to_page }}</span>
    <input type="text" class="form-control" id="name-filter" name="name-filter"
           placeholder="Filter by port name">
    <br>
    <div class="row">
        <div class="col-lg-4">
            <label for="status-filter">Filter based on Status: </label>
            <select class="form-control ml-2 filter" id="status-filter" name="status-filter">
                <option value="">All</option>
                <option value="build successful">Successful Builds</option>
                <option value="failed">All Failed Builds</option>
                <option value="failed install-port">failed install-port</option>
                <option value="failed install-dependencies">failed install-dependencies</option>
                <option value="unresolved">Unresolved Failed Builds</option>
            </select>
        </div>
        <div class="col-lg-4">
            <label for="builder-filter">Filter based on builder: </label>
            <select class="form-control ml-2 filter" id="builder-filter" name="builder-filter">
                <option value="">All</option>
                {% for builder in builders %}
                    <option value="{{ builder }}">{{ builder }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <br>
    <div id="all_builds_table">
    </div>
    <div id="loading-builds" class="container text-center" style="height: 500px;">
        <img src="{% static 'images/giphy.gif' %}">
    </div>

{% endblock %}
