body{
    padding: 0;
}

.grid-container {
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: auto auto auto auto; /*Make the grid smaller than the container*/
  grid-gap: 8px;
  padding: 8px;
}

.chart {
  width: 100% !important;
  min-height: 300px !important;
}