body{
    padding: 0;
}

.category-grid-container {
  display: grid;
  justify-content: space-evenly;
  grid-auto-flow: column;
  grid-template-rows: repeat(23, auto); /*Make the grid smaller than the container*/
  grid-gap: 8px;
  padding: 8px;
}

.category-grid-item {
    break-inside: avoid;
}

.chart {
  width: 100% !important;
  min-height: 300px !important;
}

.tab-content > .tab-pane:not(.active),
.pill-content > .pill-pane:not(.active) {
    display: block;
    height: 0;
    overflow-y: hidden;
}

.order_by_1{
    background-color: #38610B;
    color: white;
}

.order_by_2{
    background-color: #A9F5A9;
    color: white;
}

.order_by_3{
    background-color: #E0F8E0;
    color: white;
}

.footer-links{
    text-decoration: none;
    color: #ddefff;
}

.footer-links:hover{
    color: white;
}
