body{
    padding: 0;
}

.category-grid-container {
  display: grid;
  justify-content: space-evenly;
  grid-auto-flow: column;
  grid-template-rows: repeat(23, auto);
  grid-gap: 8px;
  padding: 8px;
}

@media only screen and (max-width: 900px) {
  .category-grid-container {
      grid-template-rows: repeat(31, auto);
  }
}

@media only screen and (max-width: 768px) {
  .category-grid-container {
      grid-template-rows: repeat(46, auto);
  }
}

.category-grid-item {
    break-inside: avoid;
}

.chart {
  width: 100% !important;
  min-height: 300px !important;
}

.tab-content > .tab-pane:not(.active),
.pill-content > .pill-pane:not(.active) {
    display: block;
    height: 0;
    overflow-y: hidden;
}

.order_by_1{
    background-color: #38610B;
    color: white;
}

.order_by_2{
    background-color: #A9F5A9;
    color: white;
}

.order_by_3{
    background-color: #E0F8E0;
    color: white;
}

.footer-links{
    text-decoration: none;
    color: #ddefff;
}

.footer-links:hover{
    color: white;
}

.home-logo{
    margin-top: 80px;
    max-width: 250px !important;
}

.home-input-search {
    height: 50px !important;
    font-size: 20px !important;
    padding-right: 60px !important;
    padding-left: 20px !important;
}

.home-input-search-icon{
    position: absolute !important;
    right: 20px !important;
    top: 5px !important;
    max-width: 38px !important;
}

.top-ports-list {
    font-size: 18px;
}

.twitter-typeahead, .tt-hint, .tt-input, .tt-menu { width: 100%; !important;}

.tt-menu {
    background-color: white;
}

.search-result-item:hover {
    background-color: lightgrey !important;
    border-bottom: lightgrey !important;
}

.search-result-item{
    border-radius: 5px;
}

.tt-cursor {
    background-color: lightgrey !important;
}

.tt-hint {
    color: grey;
}
