body{
    padding: 0;
    font-size: 1.1rem !important;
}

.topnav-li {
    margin-left: 4px !important;
    margin-right: 4px !important;
}

.topnav-form {
    width: 50% !important;
}

@media only screen and (max-width: 980px) {
  .topnav-form {
      width: 100% !important;
  }
}

.category-grid-container {
  display: grid;
  justify-content: space-evenly;
  grid-auto-flow: column;
  grid-template-rows: repeat(23, auto);
  grid-gap: 8px;
  padding: 8px;
}

@media only screen and (max-width: 900px) {
  .category-grid-container {
      grid-template-rows: repeat(31, auto);
  }
}

@media only screen and (max-width: 768px) {
  .category-grid-container {
      grid-template-rows: repeat(46, auto);
  }
}

.category-grid-item {
    break-inside: avoid;
}

.chart {
  width: 100% !important;
  min-height: 300px !important;
}

.tab-content > .tab-pane:not(.active),
.pill-content > .pill-pane:not(.active) {
    display: block;
    height: 0;
    overflow-y: hidden;
}

.order_by_1{
    background-color: #38610B;
    color: white;
}

.order_by_2{
    background-color: #A9F5A9;
    color: white;
}

.order_by_3{
    background-color: #E0F8E0;
    color: white;
}

.footer-links{
    text-decoration: none;
    color: #ddefff;
}

.footer-links:hover{
    color: white;
}

.bg-footer {
    background-color: #353a3f !important;
}

.home-logo{
    margin-top: 30px;
    max-width: 200px !important;
}

.quick-input-search {
    height: 50px !important;
    font-size: 20px !important;
    padding-right: 60px !important;
    padding-left: 20px !important;
}

.quick-input-search-icon{
    position: absolute !important;
    right: 20px !important;
    top: 5px !important;
    max-width: 38px !important;
}

.quick-input-search-spinner{
    position: absolute !important;
    right: 58px !important;
    top: 5px !important;
    max-width: 38px !important;
    display: none;
}

.maintainer-autocomplete-spinner, .category-autocomplete-spinner, .variant-autocomplete-spinner{
    position: absolute !important;
    right: 8px !important;
    top: 8px !important;
    max-width: 25px !important;
    display: none;
}

.top-ports-list {
    font-size: 18px;
}

.twitter-typeahead, .tt-hint, .tt-input, .tt-menu { width: 100%; !important;}

.tt-input:focus {
    box-shadow: black;
}

.tt-input:hover, .tt-input:focus {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19) !important;
}

.search-result-item:hover {
    background-color: whitesmoke !important;
}

.tt-menu {
    margin-top: 4px !important;
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19) !important;
    border-radius: 4px;
}

.tt-cursor {
    background-color: whitesmoke !important;
}

.tt-hint {
    color: grey;
}

.search-by-options {
    font-size: 14px !important;
    font-weight: bold !important;
}

.filter-by-options {
    font-size: 14px !important;
}

.bg-information {
    background-color: #fffdf7 !important;
}

.bg-el {
    background-color: #FAFAFA !important;
    font-size: 14px !important;
}
.f15 {
    font-size: 15px !important;
}

.f14 {
    font-size: 14px !important;
}

.f12 {
    font-size: 12px !important;
}

.f10 {
    font-size: 10px !important;
}

.full-width-chart-container {
    padding: 0;
    margin: auto;
    display: block;
    max-width: 800px;
}

.errorlist {
    color: red !important;
}

@media (max-width: 800px) {
    .display-4 {
        font-size: 2.3rem !important;
    }
}

.list-group-item-action.active {
    background-color: #bebebe !important;
    color: #000000;
    border: 1px solid #bebebe;
}
