{% extends 'layout.html' %}
{% load staticfiles %}
{% load url_replace %}
{% load sort_version %}
{% load permutations %}
{% load utilities %}

{% block title %}Statistics - {{ port.name }} |{% endblock %}

{% block head_scripts %}
    <script type="text/javascript" src="{% static 'js/port-detail.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>
    <script>
        loadTickets('{{ port.name }}');
    </script>
{% endblock %}

{% block content %}
    <div id="main-content" class="mt-2">
    {% include 'port/includes/port-header.html' with port=port %}
    {% include 'port/includes/port-tabs.html' with port_name=port.name active="stats" %}
<br>
<form method="get" action="." class="bg-light p-2 form form-inline justify-content-center">
    <lable for="days">Displaying statistics for <strong>{{ users_in_duration_count }} users</strong> who made submissions during:</lable>
    <select onchange="this.form.submit()" id="days" name="days" class="form-control mx-2">
    {% for i in allowed_days|slice:"1:" %}
        <option value="{{ i }}" {% if days == i %}selected{% endif %}>{{ i }} days</option>
    {% endfor %}
    </select>
    <lable for="days_ago">until</lable>
    <select onchange="this.form.submit()" id="days_ago" name="days_ago" class="form-control ml-2">
        <option value="0" {% if days_ago == 0 %}selected{% endif %}>today</option>
    {% for i in allowed_days|slice:"1:" %}
        <option value="{{ i }}" {% if days_ago == i %}selected{% endif %}>{{ i }} days ago</option>
    {% endfor %}
    </select>
</form>
<br>
<h6 class="text-center">
    <span class="text-muted">Duration selected:</span> <u>{{ start_date|date:"Y-m-d" }}</u> <span class="text-muted">to</span> <u>{{ end_date|date:"Y-m-d" }}</u>
</h6>
<br>
{% if count.all > 0 %}
    <h4 class="border-bottom">Statistics: <span class="f12"><button type="button" class="bg-light border-0 p-1" data-toggle="modal" data-target="#statsHelp">Learn More</button></span> </h4>
    <table class="table table-striped border">
        <tr>
            <th scope="row">Total Installations</th>
            <td>{{ count.all }}</td>
        </tr>
        <tr>
            <th scope="row">Requested Installations</th>
            <td>{{ count.requested }}</td>
        </tr>
    </table>
    <br>


    <div class="row">
        <div class="col-lg-6">
            <canvas id="os_version_chart"></canvas>
        </div>
        <div class="col-lg-6">
            <canvas id="port_version_chart"></canvas>
        </div>
    </div>


    <br>
    <br>
    <div class="row">
        <div class="col-lg-6">
            <canvas id="xcode_version_chart"></canvas>
        </div>
        <div class="col-lg-6">
            <canvas id="clt_version_chart"></canvas>
        </div>
    </div>
    <br>
    <br>

    <!-- TABLE FOR VARIANTS -->
    <table class="table table-striped">
        <thead>
        <tr class="p-0">
            <th class="pt-0 pb-0">Variants</th>
            <th class="pt-0 pb-0">Count</th>
        </tr>
        </thead>
        {% for i in port_installations_by_variants %}
            <tr>
                <td class="pt-0 pb-0">{{ i.variants }}</td>
                <td class="pt-0 pb-0">{{ i.num }}</td>
            </tr>
        {% endfor %}
    </table>


{% else %}
<div class="text-center container" style="max-width: 700px;">
    <h5>No stats available for this selection.</h5>
    <p>Try changing the range of days. Alternatively visit <a href="{% url 'stats' %}">statistics</a> page to have an overall look at the submitted
    statistics.</p>
</div>
{% endif %}
    </div>

<!--Help Modals -->
<div id="statsHelp" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">What Does the "Statistics" Block Display?</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <p>The statistics block shows installations count and different charts to explain the system configuration of the
            users of that port.<br><br>
            These stats are displayed for the duration which has been selected. For this duration, each user's latest submission
            is used to generate stats for that user. For example, if the selected has been made for "previous 30 days
            starting 30 days ago", then this block would show stats for the period of 30-60 days in the past (considering today
            as zero). If in this period, one user has made multiple submissions, then only is latest submission is considered.
            </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
<div id="monthlyInstallationsHelp" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">How are monthly installations calculated?</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p>
                   For each month, a user is considered to have the port installed, if the port is present in one or more
                   submissions made by that user in the given month.
                </p>
                <p>
                    Suppose a user makes 4 submissions in a given month, and in any one or more than one submissions the
                    port is present, then it is counted as an installation for that month.<br><br><strong> You may see
                    different results when comparing with the "Statistics" section, because for statistics block only the
                    4th submission (the latest one in the selected duration) will be counted, but in monthly
                    installations, the scenario of submissions over the month is considered.</strong>
                </p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
    <script>
    function generateURI(){
        const days = $("#days").val();
        const days_ago = $("#days_ago").val();
        const base = "/api/v1/statistics/port";
        return base + "?name={{ port.name }}&days=" + days + "&days_ago=" + days_ago

    }

    function getColors(length) {
        let pallet = ["#0074D9", "#FF4136", "#2ECC40", "#FF851B", "#7FDBFF", "#B10DC9", "#FFDC00", "#001f3f", "#39CCCC", "#01FF70", "#85144b", "#F012BE", "#3D9970", "#111111", "#AAAAAA", "#7979ea", "#548e7d", "#53cc4d", "#e5ae22", "#3ecbd8"];
        let colors = [];

        for (let i = 0; i < length; i++) {
            colors.push(pallet[i % pallet.length]);
        }

        return colors;
    }
    async function getVersionsData() {
        const response = await fetch(generateURI() + "&property=version&sort_by=version");
        const data = await response.json();
        const result = data.result;
        let x = [];
        let y = [];
        for(var i=0; i < result.length; i++){
            x.push(result[i].version);
            y.push(result[i].count);
        }
        return {x, y};
    }
    async function drawVersionsChart() {
        const ctx = document.getElementById('port_version_chart').getContext('2d');
        const data = await getVersionsData();
        const myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: data.x,
                datasets: [{
                    label: 'Users',
                    backgroundColor: getColors(1)[0],
                    data: data.y,
                }]
            },
            options: {
					title: {
						display: true,
						text: 'Users vs Port Version'
					},
					tooltips: {
						mode: 'index',
						intersect: false
					},
					responsive: true,
					scales: {
						xAxes: [{
							stacked: true,
						}],
						yAxes: [{
							stacked: true
						}]
					}
				}
        });
    }

    async function getOSVersionsData() {
        const response = await fetch(generateURI() + "&property=submission__os_version&property=submission__build_arch&property=submission__cxx_stdlib&sort_by=submission__os_version");
        const data = await response.json();
        const result = data.result;
        for(let i=0; i<result.length; i++) {
            result[i]["grouper"] = result[i].submission__build_arch + '/' + result[i].submission__cxx_stdlib;
        }
        let group = result.reduce((r, a) => {
            r[a.grouper] = [...r[a.grouper] || [], a];
            return r;
        }, {});

        const dataMap = {};
        for(let i=0; i<result.length; i++) {
            let key = result[i].submission__os_version;
            dataMap[key] = 0;
        }

        let datasets = {};

        for(let key in group) {
            let d = Object.assign({}, dataMap);
            if(group.hasOwnProperty(key)) {
                let g = group[key];
                for(let i=0; i<g.length; i++) {
                    let keyInner = g[i].submission__os_version;
                    d[keyInner] = g[i].count;
                }
            }
            datasets[key] = d;
        }
        return datasets;
    }
    async function drawOSVersionsChart() {
        const ctx = document.getElementById('os_version_chart').getContext('2d');
        const result = await getOSVersionsData();
        let keys = Object.keys(result);
        let datasets = [];
        let c = 0;
        for(let key in result) {
            if(result.hasOwnProperty(key)) {
                let obj = {
                    label: key,
                    backgroundColor: getColors(keys.length)[c],
                    data: Object.values(result[key])
                };
                c++;
                datasets.push(obj);
            }
        }
        const myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: Object.keys(result[keys[0]]),
                datasets: datasets
            },
            options: {
					title: {
						display: true,
						text: 'Users vs OS'
					},
					tooltips: {
						mode: 'index',
						intersect: false
					},
					responsive: true,
					scales: {
						xAxes: [{
							stacked: true,
						}],
						yAxes: [{
							stacked: true
						}]
					}
				}
        });
    }

    async function getXCodeVersionsData() {
        const response = await fetch(generateURI() + "&property=submission__os_version&property=submission__xcode_version&sort_by=submission__os_version");
        const data = await response.json();
        const result = data.result;
        let group = result.reduce((r, a) => {
            r[a.submission__xcode_version] = [...r[a.submission__xcode_version] || [], a];
            return r;
        }, {});

        const dataMap = {};
        for(let i=0; i<result.length; i++) {
            let key = result[i].submission__os_version;
            dataMap[key] = 0;
        }

        let datasets = {};

        for(let key in group) {
            let d = Object.assign({}, dataMap);
            if(group.hasOwnProperty(key)) {
                let g = group[key];
                for(let i=0; i<g.length; i++) {
                    let keyInner = g[i].submission__os_version;
                    d[keyInner] = g[i].count;
                }
            }
            datasets[key] = d;
        }
        return datasets;
    }
    async function drawXcodeVersionsChart() {
        const ctx = document.getElementById('xcode_version_chart').getContext('2d');
        const result = await getXCodeVersionsData();
        let keys = Object.keys(result);
        let datasets = [];
        let c = 0;
        for(let key in result) {
            if(result.hasOwnProperty(key)) {
                let obj = {
                    label: key,
                    backgroundColor: getColors(keys.length)[c],
                    data: Object.values(result[key])
                };
                c++;
                datasets.push(obj);
            }
        }
        const myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: Object.keys(result[keys[0]]),
                datasets: datasets
            },
            options: {
					title: {
						display: true,
						text: 'XCode Versions'
					},
					tooltips: {
						mode: 'nearest',
						intersect: true
					},
					responsive: true,
					scales: {
						xAxes: [{
							stacked: true,
						}],
						yAxes: [{
							stacked: true
						}]
					},
                    legend: {
					    display: false
                    },
				}
        });
    }

    async function getCLTVersionsData() {
        const response = await fetch(generateURI() + "&property=submission__os_version&property=submission__clt_version&sort_by=submission__os_version");
        const data = await response.json();
        const result = data.result;
        let group = result.reduce((r, a) => {
            r[a.submission__clt_version] = [...r[a.submission__clt_version] || [], a];
            return r;
        }, {});

        const dataMap = {};
        for(let i=0; i<result.length; i++) {
            let key = result[i].submission__os_version;
            dataMap[key] = 0;
        }

        let datasets = {};

        for(let key in group) {
            let d = Object.assign({}, dataMap);
            if(group.hasOwnProperty(key)) {
                let g = group[key];
                for(let i=0; i<g.length; i++) {
                    let keyInner = g[i].submission__os_version;
                    d[keyInner] = g[i].count;
                }
            }
            datasets[key] = d;
        }
        return datasets;
    }
    async function drawCLTVersionsChart() {
        const ctx = document.getElementById('clt_version_chart').getContext('2d');
        const result = await getCLTVersionsData();
        let keys = Object.keys(result);
        let datasets = [];
        let c = 0;
        for(let key in result) {
            if(result.hasOwnProperty(key)) {
                let obj = {
                    label: key,
                    backgroundColor: getColors(keys.length)[c],
                    data: Object.values(result[key])
                };
                c++;
                datasets.push(obj);
            }
        }
        const myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: Object.keys(result[keys[0]]),
                datasets: datasets
            },
            options: {
                title: {
                    display: true,
                    text: 'CLT Versions'
                },
                tooltips: {
                    mode: 'nearest',
                    intersect: true
                },
                responsive: true,
                scales: {
                    xAxes: [{
                        stacked: true,
                    }],
                    yAxes: [{
                        stacked: true
                    }]
                },
                legend: {
                    display: false
                },
            }
        });
    }
    drawVersionsChart();
    drawOSVersionsChart();
    drawXcodeVersionsChart();
    drawCLTVersionsChart();
    </script>
{% endblock %}
