{% extends 'layout.html' %}
{% load static %}
{% load url_replace %}
{% load sort_version %}
{% load permutations %}
{% load utilities %}

{% block title %}Statistics - {{ port.name }} |{% endblock %}

{% block head_scripts %}
    <script type="text/javascript" src="{% static 'js/port-detail.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>
{% endblock %}

{% block content %}
    <div id="main-content" class="mt-2">
    {% include 'port/includes/port-header.html' with port=port %}
    {% include 'port/includes/port-tabs.html' with port_name=port.name active="stats" %}
<br>
<form method="get" action="." class="bg-light p-2 form form-inline justify-content-center">
    <lable for="days">Displaying statistics for <strong>{{ users_in_duration_count }} users</strong> who made submissions during:</lable>
    <select onchange="this.form.submit()" id="days" name="days" class="form-control mx-2">
    {% for i in allowed_days|slice:"1:" %}
        <option value="{{ i }}" {% if days == i %}selected{% endif %}>{{ i }} days</option>
    {% endfor %}
    </select>
    <lable for="days_ago">until</lable>
    <select onchange="this.form.submit()" id="days_ago" name="days_ago" class="form-control ml-2">
        <option value="0" {% if days_ago == 0 %}selected{% endif %}>today</option>
    {% for i in allowed_days|slice:"1:" %}
        <option value="{{ i }}" {% if days_ago == i %}selected{% endif %}>{{ i }} days ago</option>
    {% endfor %}
    </select>
</form>
<br>
<h6 class="text-center">
    <span class="text-muted">Duration selected:</span> <u>{{ start_date|date:"Y-m-d" }}</u> <span class="text-muted">to</span> <u>{{ end_date|date:"Y-m-d" }}</u>
</h6>
<br>
{% if count.all > 0 %}
    <h4 class="border-bottom">Statistics: <span class="f12"><button type="button" class="bg-light border-0 p-1" data-toggle="modal" data-target="#statsHelp">Learn More</button></span> </h4>
    <table class="table table-striped border">
        <tr>
            <th scope="row">Total Installations</th>
            <td>{{ count.all }}</td>
        </tr>
        <tr>
            <th scope="row">Requested Installations</th>
            <td>{{ count.requested }}</td>
        </tr>
    </table>
    <br>


    <div class="row">
        <div class="col-lg-6">
            <canvas id="os_version_chart"></canvas>
            <p id="os_version_chart_loader" class="text-primary text-center">Loading Chart <img width="30px" src="{% static 'images/spinner.gif' %}"></p>
        </div>
        <div class="col-lg-6">
            <canvas id="port_version_chart"></canvas>
            <p id="port_version_chart_loader" class="text-primary text-center">Loading Chart <img width="30px" src="{% static 'images/spinner.gif' %}"></p>
        </div>
    </div>


    <br>
    <br>
    <div class="row">
        <div class="col-lg-6">
            <canvas id="xcode_version_chart"></canvas>
            <p id="xcode_version_chart_loader" class="text-primary text-center">Loading Chart <img width="30px" src="{% static 'images/spinner.gif' %}"></p>
        </div>
        <div class="col-lg-6">
            <canvas id="clt_version_chart"></canvas>
            <p id="clt_version_chart_loader" class="text-primary text-center">Loading Chart <img width="30px" src="{% static 'images/spinner.gif' %}"></p>
        </div>
    </div>
    <br>
    <br>
    <br>
    <canvas id="monthly_chart"></canvas>
    <p id="monthly_chart_loader" class="text-primary text-center">Loading Chart <img width="30px" src="{% static 'images/spinner.gif' %}"></p>
    <br><br>
     <!-- TABLE FOR VARIANTS -->
    <table id="variants_table" class="table table-striped table-condensed">
        <thead>
        <tr class="p-0">
            <th class="pt-0 pb-0">Variants</th>
            <th class="pt-0 pb-0">Count</th>
        </tr>
        </thead>
    </table>


{% else %}
<div class="text-center container" style="max-width: 700px;">
    <h5>No stats available for this selection.</h5>
    <p>Try changing the range of days. Alternatively visit <a href="{% url 'stats' %}">statistics</a> page to have an overall look at the submitted
    statistics.</p>
</div>
{% endif %}
    </div>

    {% if count.all > 0 %}
    <script>
    function generateURI(){
        const days = $("#days").val();
        const days_ago = $("#days_ago").val();
        const base = "/api/v1/statistics/port";
        return base + "?name={{ port.name }}&days=" + days + "&days_ago=" + days_ago;
    }

    async function getVersionsData() {
        const response = await fetch(generateURI() + "&property=version&sort_by=version");
        const data = await response.json();
        const result = data.result;
        let x = [];
        let y = [];
        for(var i=0; i < result.length; i++){
            x.push(result[i].version);
            y.push(result[i].count);
        }
        return {x, y};
    }
    async function drawVersionsChart() {
        const ctx = document.getElementById('port_version_chart').getContext('2d');
        let data = {
            labels: [],
            datasets: []
        };
        const myChart = new Chart(ctx, {
            type: 'bar',
            data: data,
            options: {
					title: {
						display: true,
						text: 'Port Versions'
					},
					tooltips: {
						mode: 'index',
						intersect: false
					},
					responsive: true,
					scales: {
						xAxes: [{
							stacked: true,
						}],
						yAxes: [{
							stacked: true
						}]
					}
				}
        });
        const result = await getVersionsData();
        let keys = Object.keys(result);
        let datasets = [
            {
                label: 'Users',
                backgroundColor: getColors(1)[0],
                data: result.y,
            }
        ];
        data.labels = result.x;
        data.datasets = datasets;
        $("#port_version_chart_loader").hide();
        myChart.update();
    }

    async function getOSVersionsData() {
        const response = await fetch(generateURI() + "&property=submission__os_version&property=submission__build_arch&property=submission__cxx_stdlib&sort_by=submission__os_version");
        const data = await response.json();
        const result = data.result;
        for(let i=0; i<result.length; i++) {
            result[i]["grouper"] = result[i].submission__build_arch + '/' + result[i].submission__cxx_stdlib;
        }
        let group = result.reduce((r, a) => {
            r[a.grouper] = [...r[a.grouper] || [], a];
            return r;
        }, {});

        const dataMap = {};
        for(let i=0; i<result.length; i++) {
            let key = result[i].submission__os_version;
            dataMap[key] = 0;
        }

        let datasets = {};

        for(let key in group) {
            let d = Object.assign({}, dataMap);
            if(group.hasOwnProperty(key)) {
                let g = group[key];
                for(let i=0; i<g.length; i++) {
                    let keyInner = g[i].submission__os_version;
                    d[keyInner] = g[i].count;
                }
            }
            datasets[key] = d;
        }
        return datasets;
    }
    async function drawOSVersionsChart() {
        const ctx = document.getElementById('os_version_chart').getContext('2d');
        let data = {
            labels: [],
            datasets: []
        };
        const myChart = new Chart(ctx, {
            type: 'bar',
            data: data,
            options: {
					title: {
						display: true,
						text: 'MacOS Versions'
					},
					tooltips: {
						mode: 'index',
						intersect: false
					},
					responsive: true,
					scales: {
						xAxes: [{
							stacked: true,
						}],
						yAxes: [{
							stacked: true
						}]
					}
				}
        });
        const result = await getOSVersionsData();
        let keys = Object.keys(result);
        let datasets = [];
        let c = 0;
        for(let key in result) {
            if(result.hasOwnProperty(key)) {
                let obj = {
                    label: key,
                    backgroundColor: getColors(keys.length)[c],
                    data: Object.values(result[key])
                };
                c++;
                datasets.push(obj);
            }
        }
        datasets.sort(BasicSort);
        data.labels = Object.keys(result[keys[0]]);
        data.datasets = datasets;
        $("#os_version_chart_loader").hide();
        myChart.update();
    }

    async function getXCodeVersionsData() {
        const response = await fetch(generateURI() + "&property=submission__os_version&property=submission__xcode_version&sort_by=submission__os_version");
        const data = await response.json();
        const result = data.result;
        let group = result.reduce((r, a) => {
            r[a.submission__xcode_version] = [...r[a.submission__xcode_version] || [], a];
            return r;
        }, {});

        const dataMap = {};
        for(let i=0; i<result.length; i++) {
            let key = result[i].submission__os_version;
            dataMap[key] = 0;
        }

        let datasets = {};

        for(let key in group) {
            let d = Object.assign({}, dataMap);
            if(group.hasOwnProperty(key)) {
                let g = group[key];
                for(let i=0; i<g.length; i++) {
                    let keyInner = g[i].submission__os_version;
                    d[keyInner] = g[i].count;
                }
            }
            datasets[key] = d;
        }
        return datasets;
    }
    async function drawXcodeVersionsChart() {
        const ctx = document.getElementById('xcode_version_chart').getContext('2d');
        let data = {
            labels: [],
            datasets: []
        };
        const myChart = new Chart(ctx, {
            type: 'bar',
            data: data,
            options: {
					title: {
						display: true,
						text: 'XCode Versions'
					},
					tooltips: {
						mode: 'nearest',
						intersect: true
					},
					responsive: true,
					scales: {
						xAxes: [{
							stacked: true,
						}],
						yAxes: [{
							stacked: true
						}]
					},
                    legend: {
					    display: false
                    },
				}
        });
        const result = await getXCodeVersionsData();
        let keys = Object.keys(result);
        let datasets = [];
        let c = 0;
        for(let key in result) {
            if(result.hasOwnProperty(key)) {
                let obj = {
                    label: key,
                    backgroundColor: getColors(keys.length)[c],
                    data: Object.values(result[key])
                };
                c++;
                datasets.push(obj);
            }
        }
        datasets.sort(BasicSort);
        data.labels = Object.keys(result[keys[0]]);
        data.datasets = datasets;
        $("#xcode_version_chart_loader").hide();
        myChart.update();
    }

    async function getCLTVersionsData() {
        const response = await fetch(generateURI() + "&property=submission__os_version&property=submission__clt_version&sort_by=submission__os_version");
        const data = await response.json();
        const result = data.result;
        let group = result.reduce((r, a) => {
            r[a.submission__clt_version] = [...r[a.submission__clt_version] || [], a];
            return r;
        }, {});

        const dataMap = {};
        for(let i=0; i<result.length; i++) {
            let key = result[i].submission__os_version;
            dataMap[key] = 0;
        }

        let datasets = {};

        for(let key in group) {
            let d = Object.assign({}, dataMap);
            if(group.hasOwnProperty(key)) {
                let g = group[key];
                for(let i=0; i<g.length; i++) {
                    let keyInner = g[i].submission__os_version;
                    d[keyInner] = g[i].count;
                }
            }
            datasets[key] = d;
        }
        return datasets;
    }
    async function drawCLTVersionsChart() {
        const ctx = document.getElementById('clt_version_chart').getContext('2d');
        let data = {
            labels: [],
            datasets: [],
        };
        const myChart = new Chart(ctx, {
            type: 'bar',
            data: data,
            options: {
                title: {
                    display: true,
                    text: 'CLT Versions'
                },
                tooltips: {
                    mode: 'nearest',
                    intersect: true
                },
                responsive: true,
                scales: {
                    xAxes: [{
                        stacked: true,
                    }],
                    yAxes: [{
                        stacked: true
                    }]
                },
                legend: {
                    display: false
                },
            }
        });
        const result = await getCLTVersionsData();
        let keys = Object.keys(result);
        let datasets = [];
        let c = 0;
        for(let key in result) {
            if(result.hasOwnProperty(key)) {
                let obj = {
                    label: key,
                    backgroundColor: getColors(keys.length)[c],
                    data: Object.values(result[key])
                };
                c++;
                datasets.push(obj);
            }
        }
        datasets.sort(BasicSort);
        data.labels = Object.keys(result[keys[0]]);
        data.datasets = datasets;
        $("#clt_version_chart_loader").hide();
        myChart.update();
    }
    async function getMonthlyData() {
        const response = await fetch("/api/v1/statistics/port/monthly?name={{ port.name }}");
        const data = await response.json();
        const result = data.result;
        const months = ["", "Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
        for (let i=0; i<result.length; i++) {
            let m = result[i].month;
            let segments = m.split(",");
            let year = segments[0];
            let month = segments[1];
            result[i].month = months[parseInt(month)] + " " + year;
        }

        let group = result.reduce((r, a) => {
            r[a.version] = [...r[a.version] || [], a];
            return r;
        }, {});
        const dataMap = {};
        for(let i=0; i<result.length; i++) {
            let key = result[i].month;
            dataMap[key] = 0;
        }

        let datasets = {};

        for(let key in group) {
            let d = Object.assign({}, dataMap);
            if(group.hasOwnProperty(key)) {
                let g = group[key];
                for(let i=0; i<g.length; i++) {
                    let keyInner = g[i].month;
                    d[keyInner] = g[i].count;
                }
            }
            datasets[key] = d;
        }
        console.log(datasets);
        return datasets;
    }
    async function drawMonthlyChart() {
        const ctx = document.getElementById('monthly_chart').getContext('2d');
        let data = {
            labels: [],
            datasets: []
        };
        const myChart = new Chart(ctx, {
            type: 'bar',
            data: data,
            options: {
                title: {
                    display: true,
                    text: 'Port Installations vs Month'
                },
                tooltips: {
                    mode: 'nearest',
                    intersect: true
                },
                responsive: true,
                scales: {
                    xAxes: [{
                        stacked: true,
                    }],
                    yAxes: [{
                        stacked: true
                    }]
                },
                legend: {
                    display: true
                },
            }
        });
        const result = await getMonthlyData();
        let keys = Object.keys(result);
        let datasets = [];
        let c = 0;
        for(let key in result) {
            if(result.hasOwnProperty(key)) {
                let obj = {
                    label: key,
                    backgroundColor: getColors(keys.length)[c],
                    data: Object.values(result[key])
                };
                c++;
                datasets.push(obj);
            }
        }
        datasets.sort(BasicSort);
        data.datasets = datasets;
        data.labels = Object.keys(result[keys[0]]);
        $("#monthly_chart_loader").hide();
        myChart.update();
    }
    drawVersionsChart();
    drawOSVersionsChart();
    drawXcodeVersionsChart();
    drawCLTVersionsChart();
    drawMonthlyChart();

    async function drawVariantsTable() {
        const response = await fetch(generateURI() + "&property=variants");
        const data = await response.json();
        const table = document.getElementById("variants_table");
        const result = data.result;

        for(let i=0; i < result.length; i++){
            let row = table.insertRow(-1);
            let cell1 = row.insertCell(0);
            let cell2 = row.insertCell(1);
            row.setAttribute("class", "py-0");
            cell1.setAttribute("class", "py-0");
            cell2.setAttribute("class", "py-0");
            cell1.innerHTML = result[i].variants;
            cell2.innerHTML = result[i].count;
        }
    }
    drawVariantsTable();

    </script>
    {% endif %}
{% endblock %}
