{% extends 'layout.html' %}
{% load staticfiles %}
{% load format_names %}
{% load url_generate %}
{% load humanize %}

{% block title %}{{ port.name }} |{% endblock %}

{% block head_scripts %}
    <script type="text/javascript" src="{% static 'js/port-detail.js' %}"></script>
{% endblock %}

{% block content %}
    <div id="main-content" class="mt-2">
        {% include 'port/includes/port-header.html' with port=port %}
        {% include 'port/includes/port-tabs.html' with port_name=port.name active="summary" %}

    <div class="row mt-4">
        <div class="col-lg-8">
        <button class="btn btn-light" type="button" data-toggle="collapse" data-target="#fullDescription" aria-expanded="false" aria-controls="fullDescription">Full Description <i class="fas fa-angle-down"></i> </button>
        <a href="{% url 'port-detail' port.name %}" class="btn btn-light">API</a>
            <p id="fullDescription" class="border p-2 rounded collapse">{{ port.long_description }}</p>
        <table class="table table-striped mt-2">
            <tr>
                <td><strong>Maintainers</strong></td>
                <td>
                    {% if port.closedmaintainer is True %}
                        <button type="button" class="btn" data-toggle="tooltip" data-placement="top"
                                title="Changes of this port require maintainer's approval.">
                            <i class="fas text-secondary fa-lock"></i>
                        </button>
                    {% endif %}
                    {% if port.maintainers.all.count > 0 %}
                        {% for maintainer in port.maintainers.all %}
                            {% if maintainer.github %}
                                <a
                                        href="{% url 'maintainer' maintainer.github %}">{{ maintainer.github }}</a>{% if not forloop.last %}, {% endif %}
                            {% else %}
                                {{ maintainer.name }} (GitHub handle not provided){% if not forloop.last %}, {% endif %}
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        No Maintainer
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td><strong>Categories</strong></td>
                <td>
                {% if port.categories.all.count > 0 %}
                    {% for category in port.categories.all %}
                        <a href="{% url 'category' category.name %}">{{ category.name }}</a>{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                {% else %}
                    --
                {% endif %}
                </td>
            </tr>
            <tr>
                <td><strong>Variants</strong></td>
                <td>
                {% if port.variants.all.count > 0 %}
                    {% for variant in port.variants.all %}
                        <a href="{% url 'variant' variant.variant %}">{{ variant.variant }}</a>{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                {% else %}
                    -
                {% endif %}
                </td>
            </tr>
            <tr>
                <td><strong>Homepage</strong></td>
                <td>
                    <a href="{{ port.homepage }}">{{ port.homepage }}</a>
                </td>
            </tr>
        <tr>
                <td><strong>Platforms</strong></td>
                <td>
                    {{ port.platforms }}
                </td>
            </tr>
        </table>
            <br>
            <h5>
                <ins>"{{ port.name }}" depends on</ins>
            </h5>
            {% if port.dependent_port.all.count > 0 %}
                <div class="row">
                    <div class="col-3">
                        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist"
                             aria-orientation="vertical">
                            {% for d in port.dependent_port.all %}
                                <a class="nav-link {% if forloop.first %}active{% endif %}" id="vp-{{ d.type }}"
                                   data-toggle="pill" href="#v-{{ d.type }}"
                                   role="tab" aria-controls="v-{{ d.type }}" aria-selected="true">{{ d.type }}
                                    ({{ d.dependencies.all|length }})</a>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-9 rounded border p-2">
                        <div class="tab-content" id="v-pills-Content">
                            {% for d in port.dependent_port.all %}
                                <div class="tab-pane fade {% if forloop.first %}show active{% endif %}"
                                     id="v-{{ d.type }}"
                                     role="tabpanel"
                                     aria-labelledby="vp-{{ d.type }}">
                                    <div class="row">
                                        {% for i in d.dependencies.all|dictsort:"name.lower" %}
                                            <div class="col-4">
                                                <a class="f15"
                                                   href="{% url 'port_detail' i.name %}">{{ i.name }}</a><br>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% else %}
                <p>No ports</p>
            {% endif %}
            <br>
            <hr>
            <br>
            <h5>
                <ins>Ports that depend on "{{ port.name }}"</ins>
            </h5>
            {% if dependents|length > 0 %}
                <div class="row">
                    <div class="col-3">
                        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist"
                             aria-orientation="vertical">
                            {% for d in dependents %}
                                <a class="nav-link {% if forloop.first %}active{% endif %}" id="vpd-{{ d.type }}"
                                   data-toggle="pill" href="#vd-{{ d.type }}"
                                   role="tab" aria-controls="vd-{{ d.type }}" aria-selected="true">{{ d.type }}
                                    ({{ d.ports|length }})</a>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-9 rounded border p-2">
                        <div class="tab-content" id="v-pills-depContent">
                            {% for d in dependents %}
                                <div class="tab-pane fade {% if forloop.first %}show active{% endif %}"
                                     id="vd-{{ d.type }}" role="tabpanel"
                                     aria-labelledby="vpd-{{ d.type }}">
                                    <div class="row">
                                        {% for i in d.ports|dictsort:"0.lower" %}
                                            <div class="col-4">
                                                <a class="f15" href="{% url 'port_detail' i %}">{{ i }}</a><br>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% else %}
                <p>No ports</p>
            {% endif %}
        </div>
        <div class="col-lg-4">
            <div>
                <h5>Port Health:</h5>
                <ul class="list-group">
                    {% for builder in builders %}
                    {% with builder.latest_builds|first as latest_build %}
                    {% if latest_build %}
                        <li class="list-group-item py-0">
                            <a target="_blank" class="text-dark" href="{% build_url builder.name latest_build.build_id %}">
                                {% if latest_build.status == "build successful" %}
                                    <span class="badge text-success p-0 mr-1"><i style="width: 10px" class="fa fa-check"></i></span>
                                {% else %}
                                    <span class="badge text-danger p-0 mr-1"><i style="width: 10px" class="fa fa-times"></i></span>
                                {% endif %}
                            {{ builder.natural_name }}
                            </a>
                            {% if latest_build.files_count > 0 %}
                                <button id="build-{{ latest_build.id }}" class="btn btn-sm btn-link text-secondary p-0 m-0 float-right loadFiles">Files ({{latest_build.files_count}})</button>
                            {% endif %}
                        </li>
                        {% if latest_build.files_count > 0 %}
                            <div class="modal fade f12" id="build-{{ latest_build.id }}-modal" tabindex="-1" role="dialog"
                                     aria-hidden="true">
                                    <div class="modal-dialog modal-xl" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Files ({{ builder.display_name }})</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body" id="build-{{ latest_build.id }}-modal-body">
                                                <p class="text-center">Please wait...</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                    {% else %}
                        <li class="list-group-item py-0 text-dark">
                            <span class="badge text-dark p-0 mr-1"><i style="width: 10px;" class="fa fa-question"></i></span>
                            {{ builder.natural_name }}
                        </li>
                    {% endif %}
                    {% endwith %}
                {% endfor %}
                </ul>
                <p class="text-secondary p-0 mb-0 f10 text-right"><i class="fa fa-question"></i> - No history in app's database</p>
            </div>
            <div class="card bg-light p-0 mt-2">
                <div class="card-body bg-light p-2">
                    <h6 class="text-uppercase">Installations (30 days)</h6>
                    <h1 class="display-5 mb-0">{{count.all}}</h1>
                </div>
            </div>
            <div class="card bg-light p-0 mt-2">
                <div class="card-body bg-light p-2">
                    <h6 class="text-uppercase">Requested Installations (30 days)</h6>
                    <h1 class="display-5 mb-0">{{ count.requested }}</h1>
                </div>
            </div>
            {% if port.livecheck.result %}
            <div class="rounded border p-2 mt-2">
                <h5>Livecheck results</h5>
                <p class="text-secondary f14">{{ port.livecheck.result }}</p>
                <p class="f12">livecheck ran: <strong>{{ port.livecheck.updated_at|naturaltime }}</strong></p>
            </div>
            {% elif port.livecheck.error %}
                <div class="rounded border mt-2 p-2">
                    <h5>Livecheck error</h5>
                    <p class="text-secondary" class="f14">{{ port.livecheck.error }}</p>
                    <p class="f12">last updated: <strong>{{ port.livecheck.updated_at|naturaltime }}</strong></p>
                </div>
            {% endif %}
        </div>
    </div>
    </div>
{% endblock %}
