{% extends 'layout.html' %}
{% load highlight %}
{% load url_replace %}

{% block title %}Search ports |{% endblock %}

{% block content %}
    <div class="mt-3">
        <form method="get" action="." class="border rounded-lg p-2">
            <div class="form-row">
                <div class="col-10">
                    {{ form.q }}
                </div>
                <div class="col-2">
                    <button id="super-submit" style="width: 100%" type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                </div>
            </div>
            <div class="form-group my-0 py-2 rounded-lg search-by-options">
                <label class="checkbox-inline rounded bg-light py-2 px-1 mb-0">{{ form.name }} Only match by port names</label>
                <button type="button" class="btn btn-default border-0 p-2" data-toggle="modal" data-target="#search-help"><i class="fa fa-question-circle"></i></button>
                <a href="." class="btn btn-link border-0 p-2 float-right">Reset all filters <i class="fa fa-window-close"></i></a>
            </div>
            <div class="form-group py-2 bg-information px-2 rounded-lg border-secondary filter-by-options">
                <span class="mr-4">Filter the results: </span>
                <label class="checkbox-inline mr-2 mb-0">{{ form.livecheck_outdated }} Outdated (livecheck)</label>
                <label class="checkbox-inline mr-2 mb-0">{{ form.livecheck_broken }} Livecheck errored</label>
                <label class="checkbox-inline mr-2 mb-0">{{ form.show_deleted_ports }} Show deleted ports</label>
            </div>
            <div id="m-facets" class="mb-2">

            </div>
        </form>
    <br>
         {% if query %}
            <h5>Results for "{{ query }}"</h5>
        {% else %}
            <h5>No search query, searching and filtering all ports</h5>
        {% endif %}
            <p>{{ page.paginator.count }} results found | Showing results {{ page.start_index }} to {{ page.end_index }}
            {% if page.has_other_pages %}
                <nav aria-label="Page navigation">
                    <ul class="pagination pagination-sm">
                        {% if builds.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?{% url_replace page=page.previous_page_number %}">
                                    &laquo;
                                </a>
                            </li>
                        {% else %}
                            <li class="disabled page-item"><span class="page-link">&laquo;</span></li>
                        {% endif %}

                        {% if builds.number|add:'-4' > 1 %}
                            <li class="page-item">
                                <a class="page-link" href="?{% url_replace page=page.number|add:'-5' %}">&hellip;
                                </a>
                            </li>
                        {% endif %}

                        {% for i in page.paginator.page_range %}
                            {% if page.number == i %}
                                <li class="active page-item"><span class="page-link">{{ i }} <span
                                        class="sr-only">(current)</span></span></li>
                            {% elif i > page.number|add:'-5' and i < page.number|add:'5' %}
                                <li class="page-item">
                                    <a class="page-link" href="?{% url_replace page=i %}">{{ i }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}

                        {% if page.paginator.num_pages > page.number|add:'4' %}
                            <li class="page-item">
                                <a class="page-link" href="?{% url_replace page=page.number|add:'5' %}">&hellip;
                                </a>
                            </li>
                        {% endif %}

                        {% if page.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?{% url_replace page=page.next_page_number %}">&raquo;
                                </a>
                            </li>
                        {% else %}
                            <li class="disabled page-item"><span class="page-link">&raquo;</span></li>
                        {% endif %}
                    </ul>
                </nav>
                {% endif %}
            </p>
            {% if facets.fields.maintainers %}
                <div class="filter-by-options">
                <span>Narrow these results by maintainer: </span>
                <a class="btn btn-link p-1 btn-sm" href="?{% url_replace selected_facets='' page=1 %}">Any maintainer</a>
                    {% for author in facets.fields.maintainers|slice:":7" %}
                        <a class="btn btn-link p-1 btn-sm" href="?{% url_replace selected_facets='maintainers_exact:'|add:author.0 page=1 %}">{{ author.0 }}({{ author.1 }})</a>
                {% endfor %}
                </div>
            {% endif %}
            <hr>
        {% for result in page.object_list %}
            <div>
                <a class="btn btn-link text-primary p-0" href="{{ result.object.get_absolute_url }}"><h4>{{result.name}}</h4></a>
                <p class="mb-0 text-secondary" style="font-size: 18px">{{result.description}}</p>
                <span class="text-secondary" style="font-size: 13px">
                    <strong>Maintained by:</strong>
                    {% for m in result.maintainers %}
                        <a href="{% url 'maintainer_detail_github' m %}">{{ m }}, </a>
                    {% endfor %}
                    |
                    <strong>Variants:</strong>
                    {% for v in result.variants %}
                        {{ v }},
                    {% endfor %}

                </span>
            </div>
            <hr>
            {% empty %}
                <p>No results found.</p>
            {% endfor %}

            {% if page.has_other_pages %}
                <nav aria-label="Page navigation">
                    <ul class="pagination pagination-sm">
                        {% if builds.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?{% url_replace page=page.previous_page_number %}">
                                    &laquo;
                                </a>
                            </li>
                        {% else %}
                            <li class="disabled page-item"><span class="page-link">&laquo;</span></li>
                        {% endif %}

                        {% if builds.number|add:'-4' > 1 %}
                            <li class="page-item">
                                <a class="page-link" href="?{% url_replace page=page.number|add:'-5' %}">&hellip;
                                </a>
                            </li>
                        {% endif %}

                        {% for i in page.paginator.page_range %}
                            {% if page.number == i %}
                                <li class="active page-item"><span class="page-link">{{ i }} <span
                                        class="sr-only">(current)</span></span></li>
                            {% elif i > page.number|add:'-5' and i < page.number|add:'5' %}
                                <li class="page-item">
                                    <a class="page-link" href="?{% url_replace page=i %}">{{ i }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}

                        {% if page.paginator.num_pages > page.number|add:'4' %}
                            <li class="page-item">
                                <a class="page-link" href="?{% url_replace page=page.number|add:'5' %}">&hellip;
                                </a>
                            </li>
                        {% endif %}

                        {% if page.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?{% url_replace page=page.next_page_number %}">&raquo;
                                </a>
                            </li>
                        {% else %}
                            <li class="disabled page-item"><span class="page-link">&raquo;</span></li>
                        {% endif %}
                    </ul>
                </nav>
                {% endif %}
    </div>
    <div id="search-help" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Only search by port names</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                If this is selected, then results are displayed by matching the query with only the port names. Otherwise
                "description" is also used to find results.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    let searchParams = new URLSearchParams(window.location.search);
    if(searchParams.has("selected_facets")) {
        let v = searchParams.get("selected_facets");
        let sections = v.split(':');
        let maintainer = sections[1];
        if(maintainer === "" || sections.length < 2) {
            $('#m-facets').html("");
        } else {
            $('#m-facets').html([
                'Results will only show ports by <strong>',
                maintainer,
                '</strong> <input style="display: none" class="disabled" name="selected_facets" value=',
                v,
                '>',
                '<button id="remove-maintainer-filter"',
                'class="btn btn-lg p-0 text-danger btn-link"><i class="fa fa-window-close"></i></button>'
                ].join(' ')
            );
        }
    }

    $(function () {
    $('#remove-maintainer-filter').on('click', function () {
        $('#m-facets').html("");
        $('#super-submit').click();
    });
});
</script>
{% endblock %}
