{% load sort_version %}

<br>
{% if total_count.port__count > 0 %}
    <h4 class="border-bottom">Current Stats: <span style="font-size:12px"><button type="button" class="bg-light border-0 p-1" data-toggle="modal" data-target="#currentStatsHelp">Learn More</button></span> </h4>
    <table class="table table-striped border">
                <tr>
                    <th scope="row">Total Installations</th>
                    <td>{{ total_count.port__count }}</td>
                </tr>
                <tr>
                    <th scope="row">Requested Installations</th>
                    <td>{{ requested_count.port__count }}</td>
                </tr>
                <tr>
                    <th scope="row">Most Installed Version</th>
                    <td><strong>{{ version_distribution.first.version }}</strong> : {{ version_distribution.first.num }} user(s)</td>
                </tr>
            </table>
    <div class="row">
        <div class="col-lg-6">
            <div class="chart" id="os-chart"></div>
        </div>
        <div class="col-lg-6">
            <div class="chart" id="version-chart"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="chart" id="xcode-chart"></div>
        </div>
    </div>

    <br><br>
    <h4 class="border-bottom">Port installations by month <span style="font-size:12px"><button type="button" class="bg-light border-0 p-1" data-toggle="modal" data-target="#monthlyInstallationsHelp">Learn More</button></span> </h4>
    <div class="chart" id="month-chart"></div>
    <br>
    <div class="chart" id="version-month-chart"></div>
    <br>
{% else %}
<div class="text-center container" style="max-width: 700px;">
    <h5>No stats have been submitted for this port yet</h5>
    <p>You may visit <a href="{% url 'stats_home' %}">statistics</a> page to have an overall look at the submitted
    statistics.</p>
</div>
{% endif %}

<!--Help Modals -->
<div id="currentStatsHelp" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">What do "Current Stats" Display?</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <p>Current stats are calculated for those users who have submitted stats in the last 30 days only. For each user
        who has made a submission in last 30 days, the latest of the submissions is used to decide if the user has the
        port installed or not.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
<div id="monthlyInstallationsHelp" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">How are monthly installations calculated?</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p>For each month, a user is considered to have the port installed, if in anyone of the submissions
                    made by the user in that month- the port is present.</p>
                <p>Suppose a user makes 4 submissions in a given month, and in any one or more than one submissions the
                    port is present- then it is counted as an installation for that month.<br><strong> You may see different results when
                    compare with the "Current Stats" section, because for current stats only the 4th submission (the latest one) will be counted,
                    but in monthly installations, the scenario of submissions over the month is considered.</strong>
                </p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>



    <!-- PORT VERSION CHART -->
    <script type="text/javascript">
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {

            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Version');
            data.addColumn('number', 'Number of Users');
            data.addRows([
                {% for version in version_distribution %}
                ['{{ version.version }}', {{ version.num }}],
                {% endfor %}
            ]);

        var options = {'title':'Port Versions'};

        var chart = new google.visualization.ColumnChart(document.getElementById('version-chart'));
        chart.draw(data, options);
      }
    </script>

    <!-- INSTALLATIONS BY MONTH -->
    <script type="text/javascript">
        google.charts.load('current', {'packages':['corechart']});

        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Month');
            data.addColumn('number', 'Number of Users');
            data.addRows([
            {% for i in installation_by_month %}
            ['{{ i.month|date:"M Y" }}', {{ i.num }}],
            {% endfor %}
        ]);

        var options = {
            'title':'Installations by month',
            vAxis: {
                viewWindow: {
                    min:0
                }
            }
        };

        var chart = new google.visualization.LineChart(document.getElementById('month-chart'));
        chart.draw(data, options);
      }
    </script>

    <!-- OS VERSIONS AND ARCHITECTURES -->
    <script type="text/javascript">
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {
            {% regroup os_distribution by submission__os_version as os_chart_os_version_parent %}
            {% regroup os_distribution|dictsort:"submission__os_arch" by submission__os_arch as os_chart_os_arch_parent %}

            var data = google.visualization.arrayToDataTable([
                ['OS Version', {% for os_arch in os_chart_os_arch_parent %}'{{ os_arch.grouper }}', {% endfor %} {role: 'annotation'}],
                {% for os_version in os_chart_os_version_parent %}
                    ['OS: {{ os_version.grouper }}', {% for os_arch in os_chart_os_arch_parent %}{% for i in os_version.list %}{% if i.submission__os_arch == os_arch.grouper %}{{ i.num }}{% endif %}{% endfor %}, {% endfor %} ''],
                {% endfor %}
            ]);

        var options = {
            'title':'OS Version and Architectures',
            isStacked: true
        };

        var chart = new google.visualization.ColumnChart(document.getElementById('os-chart'));
        chart.draw(data, options);
      }
    </script>

    <!-- VERSION BY MONTH -->
    <script type="text/javascript">
        google.charts.load('current', {'packages':['corechart']});

        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            {% regroup version_by_month by version as version_parent %}
            {% regroup version_by_month|dictsort:"month" by month|date:"M Y" as month_parent %}
            // Create the data table.
            var data = new google.visualization.DataTable();
                data.addColumn('string', 'month');
            {% for version in version_parent %}
                data.addColumn('number', '{{ version.grouper }}');
            {% endfor %}

          data.addRows([
              {% for i in month_parent %}
                ['{{ i.grouper }}', {% for version in version_parent %}{% for month in i.list %}{% if month.version == version.grouper %}{{ month.num }}{% endif %}{% endfor %}, {% endfor %}],
              {% endfor %}
        ]);

        var options = {
            'title':'User vs Version for each month',
            vAxis: {
                viewWindow: {
                    min:0
                }
            }
        };

        var chart = new google.visualization.LineChart(document.getElementById('version-month-chart'));
        chart.draw(data, options);
      }
    </script>

    <!-- XCODE VERSIONS -->
    <script type="text/javascript">
        google.charts.load('current', {'packages': ['corechart']});

        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            {% regroup xcode_distribution|sortversion:"submission__xcode_version" by submission__xcode_version as xcode_parent %}
            {% regroup xcode_distribution by submission__os_version as os_parent %}

            var data = google.visualization.arrayToDataTable([
                ['OS Version', {% for version in xcode_parent %}'{{ version.grouper }}', {% endfor %} { role: 'annotation' } ],
                {% for os in os_parent %}
                    ['OS: {{ os.grouper }}', {% for version in xcode_parent %}{% for i in os.list %}{% if i.submission__xcode_version == version.grouper %}{{ i.num }}{% endif %}{% endfor %}, {% endfor %} ''],
                {% endfor %}
        ]);

        var options = {
            'title': 'XCode Versions',
            isStacked: true
            };

        var chart = new google.visualization.ColumnChart(document.getElementById('xcode-chart'));
        chart.draw(data, options);
        }
    </script>
