{% load sort_version %}
{% load permutations %}
{% load utilities %}


<br>
<form class="bg-light p-2 form form-inline justify-content-center">
    <lable for="days">Displaying statistics for users who made submissions in previous:</lable>
    <select onchange="installationStatsAjax()" id="days" name="days" class="format-control mx-2">
    {% for i in allowed_days|slice:"1:" %}
        <option value="{{ i }}" {% if days == i %}selected{% endif %}>{{ i }} Days</option>
    {% endfor %}
    </select>
    <lable for="days-ago">starting</lable>
    <select onchange="installationStatsAjax()" id="days-ago" name="days-ago" class="format-control ml-2">
        <option value="0" {% if days_ago == 0 %}selected{% endif %}>Today</option>
    {% for i in allowed_days|slice:"1:" %}
        <option value="{{ i }}" {% if days_ago == i %}selected{% endif %}>{{ i }} Days Ago</option>
    {% endfor %}
    </select>
</form>
<br>
<h6 class="text-center">
    <span class="text-muted">Duration selected:</span> <u>{{ start_date|date:"Y-m-d" }}</u> <span class="text-muted">to</span> <u>{{ end_date|date:"Y-m-d" }}</u>
</h6>
<br>
{% if total_port_installations_count.submission__user_id__count > 0 %}
    <h4 class="border-bottom">Statistics: <span style="font-size:12px"><button type="button" class="bg-light border-0 p-1" data-toggle="modal" data-target="#statsHelp">Learn More</button></span> </h4>
    <table class="table table-striped border">
                <tr>
                    <th scope="row">Total Installations</th>
                    <td>{{ total_port_installations_count.submission__user_id__count }}</td>
                </tr>
                <tr>
                    <th scope="row">Requested Installations</th>
                    <td>{{ requested_port_installations_count.submission__user_id__count }}</td>
                </tr>
                <tr>
                    <th scope="row">Most Installed Version</th>
                    <td><strong>{{ port_installations_by_port_version.first.version }}</strong> : {{ port_installations_by_port_version.first.num }} user(s)</td>
                </tr>
            </table>
    <div class="row">
        <div class="col-lg-6">
            <div class="chart" id="os-chart"></div>
        </div>
        <div class="col-lg-6">
            <div class="chart" id="version-chart"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="chart" id="xcode-chart"></div>
        </div>
        <div class="col-lg-6">
            <div class="chart" id="clt-version-chart"></div>
        </div>
    </div>
    <br>
    <table class="table table-striped">
        <thead>
        <tr class="p-0">
            <th class="pt-0 pb-0">Variants</th>
            <th class="pt-0 pb-0">Count</th>
        </tr>
        </thead>
        {% for i in port_installations_by_variants %}
            <tr>
                <td class="pt-0 pb-0">{{ i.variants }}</td>
                <td class="pt-0 pb-0">{{ i.num }}</td>
            </tr>
        {% endfor %}
    </table>

    <br><br>
    <h4 class="border-bottom">Port installations by month <span style="font-size:12px"><button type="button" class="bg-light border-0 p-1" data-toggle="modal" data-target="#monthlyInstallationsHelp">Learn More</button></span> </h4>
    <div class="chart" id="month-chart"></div>
    <br>
    <div class="chart" id="version-month-chart"></div>
    <br>
{% else %}
<div class="text-center container" style="max-width: 700px;">
    <h5>No stats available for this selection.</h5>
    <p>Try changing the range of days. Alternatively visit <a href="{% url 'stats_home' %}">statistics</a> page to have an overall look at the submitted
    statistics.</p>
</div>
{% endif %}

<!--Help Modals -->
<div id="statsHelp" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">What Does the "Statistics" Block Display?</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <p>The statistics block shows installations count and different charts to explain the system configuration of the
            users of that port.<br><br>
            These stats are displayed for the duration which has been selected. For this duration, each user's latest submission
            is used to generate stats for that user. For example, if the selected has been made for "previous 30 days
            starting 30 days ago", then this block would show stats for the period of 30-60 days in the past (considering today
            as zero). If in this period, one user has made multiple submissions, then only is latest submission is considered.
            </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
<div id="monthlyInstallationsHelp" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">How are monthly installations calculated?</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p>
                   For each month, a user is considered to have the port installed, if the port is present in one or more
                   submissions made by that user in the given month.
                </p>
                <p>
                    Suppose a user makes 4 submissions in a given month, and in any one or more than one submissions the
                    port is present, then it is counted as an installation for that month.<br><br><strong> You may see
                    different results when comparing with the "Statistics" section, because for statistics block only the
                    4th submission (the latest one in the selected duration) will be counted, but in monthly
                    installations, the scenario of submissions over the month is considered.</strong>
                </p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>


    <!-- PORT VERSION CHART -->
    <script type="text/javascript">
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {

            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Version');
            data.addColumn('number', 'Number of Users');
            data.addRows([
                {% for version in port_installations_by_port_version %}
                ['{{ version.version }}', {{ version.num }}],
                {% endfor %}
            ]);

        var options = {'title':'Port Versions'};

        var chart = new google.visualization.ColumnChart(document.getElementById('version-chart'));
        chart.draw(data, options);
      }
    </script>

    <!-- INSTALLATIONS BY MONTH -->
    <script type="text/javascript">
        google.charts.load('current', {'packages':['corechart']});

        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Month');
            data.addColumn('number', 'Number of Users');
            data.addRows([
            {% for i in port_installations_by_month %}
            ['{{ i.month|date:"M Y" }}', {{ i.num }}],
            {% endfor %}
        ]);

        var options = {
            'title':'Installations by month',
            vAxis: {
                viewWindow: {
                    min:0
                }
            }
        };

        var chart = new google.visualization.LineChart(document.getElementById('month-chart'));
        chart.draw(data, options);
      }
    </script>

    <!-- OS VERSIONS AND ARCHITECTURES -->
    <script type="text/javascript">
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {
            {% regroup port_installations_by_os_stdlib_build_arch by submission__os_version as os_chart_os_version_parent %}

            var data = google.visualization.arrayToDataTable([
                ['OS Version', {% for i in port_installations_by_os_stdlib_build_arch|unique_pairs:"submission__build_arch submission__cxx_stdlib" %}'{{ i.0 }}/{{ i.1 }}', {% endfor %} {role: 'annotation'}],
                {% for os in os_chart_os_version_parent %}
                ['OS: {{ os.grouper }}', {% for j in port_installations_by_os_stdlib_build_arch|unique_pairs:"submission__build_arch submission__cxx_stdlib" %}{% for i in os.list %}{% if j.0 == i.submission__build_arch and j.1 == i.submission__cxx_stdlib %}{{ i.num }}{% endif %}{% endfor %}{% if not forloop.last %}, {% endif %}{% endfor %}, '' ],
                {% endfor %}
            ]);

        var options = {
            'title':'OS Version and Build Architecture/STDLIB',
            isStacked: true
        };

        var chart = new google.visualization.ColumnChart(document.getElementById('os-chart'));
        chart.draw(data, options);
      }
    </script>

    <!-- VERSION BY MONTH -->
    <script type="text/javascript">
        google.charts.load('current', {'packages':['corechart']});

        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            {% regroup port_installations_by_version_and_month by version as version_parent %}
            {% regroup port_installations_by_version_and_month|dictsort:"month" by month|date:"M Y" as month_parent %}
            // Create the data table.
            var data = new google.visualization.DataTable();
                data.addColumn('string', 'month');
            {% for version in version_parent %}
                data.addColumn('number', '{{ version.grouper }}');
            {% endfor %}

          data.addRows([
              {% for i in month_parent %}
                ['{{ i.grouper }}', {% for version in version_parent %}{% find_count_for_version i.list version.grouper %}, {% endfor %}],
              {% endfor %}
        ]);

        var options = {
            'title':'User vs Version for each month',
            isStacked: true,
            interpolateNulls: true,
            vAxis: {
                viewWindow: {
                    min:0
                }
            }
        };

        var chart = new google.visualization.AreaChart(document.getElementById('version-month-chart'));
        chart.draw(data, options);
      }
    </script>

    <!-- XCODE VERSIONS -->
    <script type="text/javascript">
        google.charts.load('current', {'packages': ['corechart']});

        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            {% regroup port_installations_by_os_and_xcode_version|sortversion:"submission__xcode_version" by submission__xcode_version as xcode_parent %}
            {% regroup port_installations_by_os_and_xcode_version by submission__os_version as os_parent %}

            var data = google.visualization.arrayToDataTable([
                ['OS Version', {% for version in xcode_parent %}'{{ version.grouper }}', {% endfor %} { role: 'annotation' } ],
                {% for os in os_parent %}
                    ['OS: {{ os.grouper }}', {% for version in xcode_parent %}{% for i in os.list %}{% if i.submission__xcode_version == version.grouper %}{{ i.num }}{% endif %}{% endfor %}, {% endfor %} ''],
                {% endfor %}
        ]);

        var options = {
            'title': 'XCode Versions',
            isStacked: true
            };

        var chart = new google.visualization.ColumnChart(document.getElementById('xcode-chart'));
        chart.draw(data, options);
        }
    </script>

    <!-- CLT VERSIONS -->
    <script type="text/javascript">
        google.charts.load('current', {'packages': ['corechart']});

        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            {% regroup port_installations_by_os_and_clt_version|dictsort:"submission__clt_version" by submission__clt_version as clt_parent %}
            {% regroup port_installations_by_os_and_clt_version by submission__os_version as os_clt_parent %}

            var data = google.visualization.arrayToDataTable([
                ['OS Version', {% for version in clt_parent %}'{{ version.grouper }}', {% endfor %} { role: 'annotation' } ],
                {% for os in os_clt_parent %}
                    ['OS: {{ os.grouper }}', {% for version in clt_parent %}{% for i in os.list %}{% if i.submission__clt_version == version.grouper %}{{ i.num }}{% endif %}{% endfor %}, {% endfor %} ''],
                {% endfor %}
        ]);

        var options = {
            'title': 'CLT Versions',
            isStacked: true
            };

        var chart = new google.visualization.ColumnChart(document.getElementById('clt-version-chart'));
        chart.draw(data, options);
        }
    </script>
