{% load format_names %}
    <br>
    <div class="row">
        <div class="col-lg-8">
            <table class="table table-striped border border-top border-muted">
                <tr>
                    <th scope="row">Homepage</th>
                    <td><a href="{{ port.homepage }}" target="_blank">{{ port.homepage }}</a></td>
                </tr>
                <tr>
                    <th scope="row">Version:</th>
                    <td>{{ port.version }}</td>
                </tr>
                <tr>
                    <th scope="row">Maintained By:</th>
                    <td>
                        {% if maintainers.all|length > 0 %}
                        {% for maintainer in maintainers %}
                                {% if maintainer.github %}
                                    <a href="/maintainer/github/{{ maintainer.github }}">{{ maintainer.github }}</a>{% if not forloop.last %},{% endif %}
                                {% else %}
                                    <a href="/maintainer/email/{{ maintainer.name }}__{{ maintainer.domain }}">{{ maintainer.name }}</a>{% if not forloop.last %},{% endif %}
                                {% endif %}
                        {% endfor %}
                        {% else %}
                            No Maintainers Found
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th scope="row">ClosedMaintainer:</th>
                    <td>{{ port.closedmaintainer }}</td>
                </tr>
                <tr>
                    <th scope="row">Variants:</th>
                    <td>
                        {% if variants.count > 0 %}
                            {% for variant in variants %}
                                <a href="{% url 'variant_list' variant.variant %}">{{ variant.variant }}</a>{% if not forloop.last %},{% endif %}
                            {% endfor %}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th scope="row">License:</th>
                    <td>{{ port.license }}</td>
                </tr>
                <tr>
                    <th scope="row">Platforms:</th>
                    <td>{{ port.platforms }}</td>
                </tr>
                <tr>
                    <th scope="row">Categories:</th>
                    <td>
                        {% for cat in port.categories.all %}
                            <a href="{% url 'category_list' cat.name %}">{{ cat.name }}</a>{% if not forloop.last %},{% endif %}
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <td scope="row" colspan="2"><strong>Depends On:</strong><br>
                            {% for dependency in dependencies %}
                                <div class="row">
                            <div class="col-3 text-center">{{ dependency.type }}:</div>
                             <div class="col-9 pl-5">
                            {% for port in dependency.dependencies.all %}
                                <a href="{% url 'port_detail' port.name %}">{{ port.name }}</a>{% if not forloop.last %},{% endif %}
                            {% endfor %}
                             </div>
                                </div>
                        {% endfor %}
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-lg-4">
            <div class="rounded border" style="padding: 8px;">
                <h6 class="text-center">{{ port.portdir }}</h6>
                <p class="text-center text-secondary">{{ port.long_description }}</p>
            </div>
            <br>
            <div class="rounded border" style="padding: 8px">
                <h6>For last 30 days</h6>
                <ul class="list-group">
                    <li class="list-group-item">Requested Installations:<strong class="float-right">
                        {{ requested_count.port__count }}</strong></li>
                    <li class="list-group-item">Total Installations:<strong class="float-right">{{ total_count.port__count }}</strong></li>
                    <li class="list-group-item"><a href="javascript:void(0);" onclick="tabClick(this, 'stats')">View Detailed
                        Statistics for {{ port.name }}</a></li>
                </ul>
            </div>
        </div>
    </div>
