<!-- ############
This pagination is used on the following pages:
#1. Category
#2. Variant
#3. Maintainer
-->

<div class="row">
    <div class="col-lg-7">
        <p>Page {{ objects.number }} of {{ objects.paginator.num_pages }} | Showing
            objects {{ objects.start_index }} to
            {{ objects.end_index }} of {{ all_count }}</p>
    </div>
    <div class="col-lg-5">
        <form class="form-inline justify-content-lg-end" method="get"
              action="">
            <label for="paginate_by">Ports per page: </label>
            <input style="max-width: 150px" class="ml-2" type="number" name="paginate_by"
                   value="{{ paginate_by }}">
            <button type="submit">Update</button>
        </form>
    </div>
</div>



{% if objects.has_other_pages %}
    <nav aria-label="Page navigation">
        <ul class="pagination">
            {% if objects.has_previous %}
                <li class="page-item"><a class="page-link"
                                         href="?page={{ objects.previous_page_number }}&paginate_by={{ paginate_by }}">&laquo;</a>
                </li>
            {% else %}
                <li class="disabled page-item"><span class="page-link">&laquo;</span></li>
            {% endif %}

            {% if objects.number|add:'-4' > 1 %}
                <li class="page-item"><a class="page-link"
                                         href="?page={{ objects.number|add:'-5' }}&paginate_by={{ paginate_by }}">&hellip;</a>
                </li>
            {% endif %}

            {% for i in objects.paginator.page_range %}
                {% if objects.number == i %}
                    <li class="active page-item"><span class="page-link">{{ i }} <span
                            class="sr-only">(current)</span></span></li>
                {% elif i > objects.number|add:'-5' and i < objects.number|add:'5' %}
                    <li class="page-item"><a class="page-link"
                                             href="?page={{ i }}&paginate_by={{ paginate_by }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}

            {% if objects.paginator.num_pages > objects.number|add:'4' %}
                <li class="page-item"><a class="page-link"
                                         href="?page={{ objects.number|add:'5' }}&paginate_by={{ paginate_by }}">&hellip;</a>
                </li>
            {% endif %}

            {% if objects.has_next %}
                <li class="page-item"><a class="page-link"
                                         href="?page={{ objects.next_page_number }}&paginate_by={{ paginate_by }}">&raquo;</a>
                </li>
            {% else %}
                <li class="disabled page-item"><span class="page-link">&raquo;</span></li>
            {% endif %}
        </ul>
    </nav>
{% endif %}
