{% include 'includes/basic_pagination.html' with items=ports contents="ports" %}
<table class="f15 table table-condensed table-striped mt-2">
    <thead>
    <tr>
        <td>Name</td>
        <td>Version</td>
        <td>Livecheck</td>
        <td>Latest build ({{ builder }})</td>
    </tr>
    </thead>
    {% for port in ports %}
        <tr class="p-0">
            <td class="py-1">
                <a href="{% url 'port_detail' port.name %}">
                    {{ port.name }}
                    {% if port.active is False %}
                        <span class="badge badge-danger">Deleted</span>
                    {% elif port.replaced_by is not None %}
                        <span class="badge badge-warning">Obsolete</span>
                    {% endif %}
                </a>
            </td>
            <td class="py-1">{{ port.version }}</td>
            <td class="py-1">
                {% if port.livecheck %}
                    {% if port.livecheck.has_updates %}<span class="badge badge-warning">Outdated</span>
                    {% elif port.livecheck.error %}<span class="badge badge-danger">Errored</span>
                    {% else %}<span class="badge badge-success">OK</span>
                    {% endif %}
                {% else %}
                    <span class="badge badge-secondary">No Results</span>
                {% endif %}
            </td>
            <td class="py-1">
                <span class="badge {% if port.build is None %}badge-secondary {% elif port.build == "build successful" %}badge-success{% else %}badge-danger{% endif %}">{{ port.build }}</span>
                {% if followed_ports is True %}<span class="float-right"><a class="text-secondary" href="{% url 'unfollow_port' port.name %}"><i class="fa fa-minus-circle"></i></a></span>{% endif %}
            </td>
        </tr>
    {% endfor %}
</table>
{% include 'includes/basic_pagination.html' with items=ports contents="ports" %}