{% extends 'layout.html' %}
{% load staticfiles %}

{% block title %}Ports |{% endblock %}

{% block content %}
    <div class="container text-center" style="max-width: 800px">
        <img src="{% static 'images/macports-logo.png' %}" class="img-fluid home-logo">
        <br>
        <form class="pt-3" method="get" action="/search">
            <div class="form-row">
                <div class="col-12" id="bloodhound">
                    <input type="text" class="quick-input-search form-control rounded-pill typeahead" id="q" name="q" placeholder="Search for ports..." autofocus>
                    <img class="quick-input-search-spinner" id="search-spinner" src="{% static 'images/spinner.gif' %}">
                    <button type="submit" class="quick-input-search-icon btn" id="search_submit"><i class="fa fa-search"></i></button>
                    <input type="hidden" value="on" name="name">
                </div>
            </div>
        </form>
        <a class="btn btn-sm text-primary btn-link" href="{% url 'search' %}">Advanced search</a>
        <a class="btn btn-sm text-primary btn-link" href="https://www.macports.org">MacPorts Home</a>
        <a class="btn btn-sm text-primary btn-link" href="https://www.macports.org/install.php">Install MacPorts</a>
        <br>
        <div class="row pt-3">
            <div class="col-6 text-left">
            <h5><ins>Popular ports</ins></h5>
                    {% for top_port in top_ports %}
                        <span class="top-ports-list"><a href="{% url 'port_detail' top_port.port %}">{{ top_port.port }}</a></span><br>
                    {% endfor %}
                </ul>
                <a class="btn btn-link" href="{% url 'stats_port_installations' %}">More...</a>
            </div>
            <div class="col-6">

            </div>
        </div>
    </div>


{% endblock %}
